[2013-12-17 05:28] lamw opened #1 "Provided detailed help usage options"
When running the samples without any arguments, it does not provide much details on the name of arguments required.

lamw:~/git/pyvmomi(master○) » python sample/poweronvm.py
No virtual machine specified for poweron
lamw:~/git/pyvmomi(master○) » python sample/poweronvm.py --help
No virtual machine specified for poweron
lamw:~/git/pyvmomi(master○) » python sample/poweronvm.py -h
Usage: poweronvm.py

[2013-12-18 03:02] henrysher opened #2 "better to remove .egg-info folder in source code"
.egg-info folder can be auto-generated via "setup.py".

[2013-12-18 23:38] #2 closed, assigned to parthgala

[2013-12-18 23:40] #1 closed, assigned to parthgala

[2014-01-14 21:35] rbhaddon opened #5 "getallvms.py fails if vm inventory uses folders"
This patch fixes the issue for the few vCenters we have at my work.  I am unable to test these changes on vCenters inventories that don't use folders.

[code]

[2014-01-28 09:15] mcowger opened #6 "Performance Example?"
I'd love to see an example for gathering performance data...something similar to this for rbVmomi would be perfect:

https://gist.github.com/toobulkeh/6124975

Specifically, the hardest part for me is figuring out how to create new PerfQuerySpec objects

[2014-01-29 14:55] #5 closed, assigned to nobody

[2014-01-30 18:32] snobear opened #8 "Clone a template example"
Do you have any examples or docs on using the Clone() function, specifically how to clone/deploy a VM from a template?

[2014-02-02 15:55] koola opened #12 "Import ova"
Request an example script on how to import an ova into vsphere cluster host.

[2014-02-05 18:38] #8 closed, assigned to nobody

[2014-02-07 16:09] ericwb opened #13 "No verification of server certificates"
Pyvmomi uses httplib and urllib which do no do any certificate verification.  But most products do prefer to have some control of how host certificates are verified in order to avoid man-in-the-middle attacks.

Probably the easiest way to get this supported properly is to switch from httplib to python requests - http://docs.python-requests.org/en/latest/

[2014-02-12 13:14] AlexRaskosov opened #15 "Documentation"
Where I can find documentation on how to use this library?

[2014-02-23 16:13] huyuanzhang opened #16 "Performance issue ?"
Hi There,
I am trying to pull the vswitch/networks/vms data from vcenter.   But looks like it took 84 seconds to pull these data:
             hostlist = []
              for child in datacenter.hostFolder.childEntity:
                  for host in child.host:
                      hostlist.append (host)
              for host in hostlist:
                  retdict = {}
                  retdict['

[2014-02-25 07:01] declum opened #17 "Windows call gets blocked for ever in __GetServiceVersionDescription"
looks like in connect.py the code uses urllib.urlopen which gets blocked for ever with Keep-Alive.

Changing the code to use urllib2.urlopen, worked fine with me. Tested with Python 2.7 and Python 2.6. In Linux box the issue is not seen.

[2014-03-07 22:52] embodyhumility opened #20 "Sometimes the API will return no data for specific properties even though it should"
I wrote a python program to query the vm.guest.net property so I could get all of the MAC addresses for all VM's.  Most of the time, the program will return the correct results, however, sometimes the program will return nothing for vm.guest.net, yet the VM has not changed in any way.  If I restart vCenter, the program will again return all of the correct data.

I have seen this same behavior with

[2014-03-23 11:07] dnaeon opened #21 "Serialize to JSON?"
Hi,

I was wondering whether it is possible to serialize an object properties to JSON?

For example taking the following code snippet, how could I dump the `vm.summary` properties to JSON?

[code]

Having a JSON serializer would really make things simple and easier to integrate with other systems.

Is this possible using pyVmomi?

Thanks and regards,
Marin

[2014-03-25 19:14] sijis opened #22 "login to guest example"
I'm looking for an example on how to use pyvmomi to login to the guest.

As i understand i should be possible if the guest has vmwaretools installed.

Thanks.

[2014-03-26 12:48] dnaeon opened #23 "Keep Alive sessions?"
Hi,

How can we have a Keep-Alive session to a vSphere host using pyvmomi?

Thanks,
Marin

[2014-04-01 17:04] #23 closed, assigned to nobody

[2014-04-06 10:50] pmitoraj opened #24 "Querying datastore cluster fails"
Hi
I am trying to get the details of the datastore cluster from vcenter. It works perfectly with RbVMomi but somehow PyVmomi does not properly recognize the StoragePod object.
In Ruby example, in datastoreFolder there is _StoragePod("group-p52")_ which is an instance of _StoragePod_.
In python there is _vim.Folder:group-p52_ which is an instance of _vim.Folder_ and does not respond to _podStorageD

[2014-04-07 06:14] reubenur-rahman opened #25 "Set Affinity rule on a particular VM to stop DRS"
Hi guys,

I'm writing a python code to Set Affinity rule on a particular VM to stop DRS. I am taking help from Steve Jin's DrsAffRule.java .

I am doing something like :

[code]

The equivalent Java Code I found :

[code]

Now the problem is affinityspec.vm() takes the MOR of VM . Any idea how do I write a createMOR() function ???
- Reuben

[2014-04-08 19:24] mcowger opened #26 "PerfManager Performance"
I've been writing an application that pulls a very solid number of metrics from vCenter using the native refreshRate for intervalID (and the other requirements to use the RealtimeStats).

I'm executing single QueryPerf call

[code]

And then looking at the output:

[code]

I'm finding that this is notably slower than I'd expect, so I did some profiling, and was floored to see that I'm doing approx

[2014-04-11 10:11] leowijnhoven opened #27 "Example of changing disk mode (persistence) needed!"
I tried to change the persistence of a disk using pyVmomi Sdk. But i did not succeed.

Any chance that you can make a example for this?

[2014-04-25 01:13] Durgaprasadala opened #28 "Trying to find the VLAN per each ESX host"

[2014-04-25 01:16] Durgaprasadala opened #29 "Best way to find out the VLAN per host?"
Looking for the easiest way to find out the VLAN per host.

[2014-04-25 21:14] #17 closed, assigned to nobody

[2014-04-25 23:57] serverchief opened #30 "example of creating datacenter and clusters"
Looking for a possible example of creating datacenter and clusters. Any help is appreciated.

Thanks
ilya

[2014-04-27 15:53] #28 closed, assigned to nobody

[2014-05-21 16:56] reubenur-rahman opened #33 "Problem in assigning network for NIC"
I have already asked the question here https://github.com/vmware/pyvmomi-community-samples/issues/9

HI,

host.network returns me a list of available networks on the particular host out of which some are standard and some dvs .

Now with this networks when I am adding or editing NICs I am facing problem for dvs networks. If I right click and see the network settings I find the network label is not

[2014-05-22 09:37] #33 closed, assigned to nobody

[2014-05-24 15:13] grzn opened #34 "Add support for Support for esxcli like the Ruby bindings"

[2014-05-24 15:15] grzn opened #35 "Add support for the Sms APIs"

[2014-05-26 14:02] lamw opened #36 "Enhance CLI option to prompt for Password"
It's nice to be able to specify server, username & password on the command-line for ease of use. However, it would be great to also have the ability to prompt for username and especially password so it's not in plaintext and logged on a system.

All other CLI/SDKs provide similar capably, we should look at enhancing our examples as well as the community for this best practice

[2014-05-27 12:08] #36 closed, assigned to nobody

[2014-05-27 16:49] vfiftyfive opened #37 "Add support documentation for Pyvmomi"
Hi,
Documentation for Pyvmomi would be of great help. It seems quit powerful, but 2 samples are not enough to understand all structures.

[2014-05-28 05:56] Daruptek opened #38 "How do I get the vminfo quicker."
We have around 1500 VM's perc vCenter and around 10vCenter's globally.

To get the particular VM info, I am doing this and it is taking really a long time.

container = content.viewManager.CreateContainerView(content.rootFolder, [vim.VirtualMachine], True)
for c in container.view:
        if c.name == name:
            yourvm = c
            break
    return yourvm

.......
Retrieving the info fro

[2014-05-30 11:00] reubenur-rahman opened #39 "Add PCI device to VM"
Appreciate any help on this, given below is what I am trying. But backing.deviceId I'm not able fetch properly.

[code]

[2014-05-30 16:35] #37 closed, assigned to hartsock

[2014-05-30 17:29] #27 closed, assigned to hartsock

[2014-05-30 22:44] #38 closed, assigned to nobody

[2014-05-30 22:49] #22 closed, assigned to nobody

[2014-06-03 09:52] vfiftyfive opened #41 "Poweron task and answer VM question"
How could you add code to monitor and answer VM question at VM startup ("has this VM been copied or moved?") while at the same time using WaitForTasks(task, si) function to monitor Poweron task?

[2014-06-03 13:49] #41 closed, assigned to nobody

[2014-06-03 20:34] hartsock opened #42 "Add Unit Testing"
I will feel better about modifications to this library once I start to see unit testing and integration testing suites for this software.

This is probably best done as a series of small commits. Each one adding some tests. This should also probably occur in a branch and then later be merged.

[2014-06-03 20:38] #30 closed, assigned to nobody

[2014-06-03 20:55] #29 closed, assigned to nobody

[2014-06-04 21:17] hartsock opened #43 "Session timeouts cause PropertyCollector to return empty data"
Sessions that time out and then invoke a method on the vim.PropertyCollector object class can appear to execute the method without error and yield erroneous empty data. This makes it difficult for developers on working on products with long-running processes to distinguish between a session timeout error and a legitimate 'None' response from the server.

We need a fix for this issue that can prope

[2014-06-04 21:18] #16 closed, assigned to nobody

[2014-06-04 21:52] #25 closed, assigned to nobody

[2014-06-04 21:56] #12 closed, assigned to nobody

[2014-06-05 14:08] mzenzie opened #44 "Adding virtual machine to VLAN"
I'm working on automating mass-cloning of a virtual machine from a template for testing purposes. Currently, the only network-related stuff my code creates is an adaptermap to a new static ip address for the cloned virtual machine. I've been looking through the docs, but can't quite seem to figure out how to add it to a VLAN on a switch. My current thought process is that the VirtualEthernetCardDi

[2014-06-05 21:29] anderiv opened #45 "Compatible with vCSA 5.5?"
A few weeks ago, I started testing pyvmomi against our vCSA 5.0 server, and it worked great for this simple test script:

https://gist.github.com/anderiv/82467e6755a98d3dbe47

Fast forward to today, I've since upgraded to vCSA (5.5.0.10100 Build 1750781), and am now getting the following when I try to run this script:

[code]

I haven't seen anything that suggested that there were any API changes

[2014-06-07 01:10] michaelrice opened #47 "pep8 branch"
Can someone create a pep 8 branch so that we can start sending over some pep 8 stuff? See issue #40 for details.

[2014-06-09 12:56] ghost opened #50 "self._pc.RetrieveContents([filterSpec])[0].propSet[0].val IndexError: list index out of range"
Hello,

When trying to get config.hardware.device on a virtualmachine, I run into this error. Any idea how to fix it or whats causing it?

Here's the traceback (virtualMachine is a virtual machine object):
  File "vCenter.py", line 126, in **init**
    self.sync()
  File "vCenter.py", line 260, in sync
    allData = self.getVirtualizationHosts()
  File "vCenter.py", line 245, in getVirtualizationH

[2014-06-10 11:11] #24 closed, assigned to parthgala

[2014-06-10 13:20] svnsatya opened #51 "unable to connect to vcenter server struct at " Smartconnect step ""
/disk1/pyvmomi-community-samples/samples$ python
I am unable to connect vcenter server  below python shell struct at Smartconnect step only

I verified firewall status also

root@devstack:/disk1/pyvmomi-community-samples/samples#  sudo ufw status
Status: inactive
#

Python 2.7.3 (default, Feb 27 2014, 19:58:35)
[GCC 4.6.3] on linux2
Type "help", "copyright", "credits" or "license" for more informa

[2014-06-10 15:24] #45 closed, assigned to nobody

[2014-06-11 20:13] #47 closed, assigned to nobody

[2014-06-13 16:58] embodyhumility opened #55 "python 3.x compatibility"
Is anyone using python 3 with this successfully?

[2014-06-17 18:11] #15 closed, assigned to nobody

[2014-06-18 15:27] hartsock opened #59 "python 3.4 compatability"
Running pip install pyvmomi in a python3 environment:

[code]

This should not happen.

[2014-06-18 20:20] hartsock opened #60 "python-skeletons for pyVmomi"
- https://github.com/JetBrains/python-skeletons

Code completion and help support for pyVmomi in pyCharm-like IDE. A similar effort should be possible for Eclipse.

[2014-06-18 20:21] #59 closed, assigned to nobody

[2014-06-20 13:59] #43 closed, assigned to hartsock

[2014-06-20 14:23] hartsock opened #64 "httplib to requests migration"
Migrate from httplib to requests

[2014-06-20 14:26] hartsock opened #65 "static classes for vim.* and vmodl.* (or use static proxies and python-skeletons)"
For better support of IDE and other static code analysis tools it would best to have static classes with decorators to reference. This makes documentation, testing, and other tasks much easier as well. It should be possible to modify the dynamic class generators to decorate a set of static classes to match the vSphere API.

This is a big task and should not be attempted until higher priority and m

[2014-06-26 15:45] hartsock opened #68 "pyVmomi should never use 'print'"
https://docs.python.org/2/library/warnings.html

pyVmomi is a deep level library and it should avoid making use of logging or printing features directly which are application elements we should leave 100% in control of the end application developer.

To close this issue:
- remove all use of 'print'
- introduce use of warnings to replace 'print'
- introduce verbose logging of SOAP messages

[2014-06-26 18:04] hartsock opened #69 "pyVmomi should never extend base or core types"
This [VmomiSupport.py#L179](https://github.com/vmware/pyvmomi/blob/v5.5.0/pyVmomi/VmomiSupport.py#L179) is considered _extremely_ bad form in the Python community. Extension of core types ties the code to interpreter internals that may not be intended for exposure. This is akin to using a hidden API and should be avoided or at least isolated so that potential damage is easier to control.

Rewrite

[2014-06-27 18:23] ghost opened #70 "vim.fault.InvalidState"
When getting events, I always start getting this error after a while:

(vim.fault.InvalidState) {
   dynamicType = <unset>,
   dynamicProperty = (vmodl.DynamicProperty) [],
   msg = 'The operation is not allowed in the current state.',
   faultCause = <unset>,
   faultMessage = (vmodl.LocalizableMessage) []
}

Anyone know what this means and how to fix it?

[2014-06-30 20:55] hartsock opened #71 "Documentation cleanup - fix bulleted list"
The [EventManager](https://github.com/vmware/pyvmomi/blob/master/docs/vim/event/EventManager.rst) documentation for PostEvent has a number of bulleted lists that do not render properly. Fix the extra bullets and line breaks in the page.

[2014-07-01 14:48] #70 closed, assigned to nobody

[2014-07-02 19:18] hartsock opened #72 "Malformed Faults fail in non-informative ways"
Malformed Faults fail in non-informative ways. Example: LicenseUsageFaults will emit the following SOAP envelope. This envelope will not properly map onto the ServerFaultCode data type inside pyVmomi. The result is that the message will not map onto the appropriate fault type.

[code]

[2014-07-03 20:47] ghost opened #73 "VLAN ID for VMs"
Is there an easy way to get the VLAN ID for a virtual machine?

[2014-07-04 00:46] #44 closed, assigned to nobody

[2014-07-16 17:50] hartsock opened #76 "pyvmomi RST docs do not properly show lists"
On [docs/vim/vm/ConfigSpec.rst](https://github.com/vmware/pyvmomi/blob/master/docs/vim/vm/ConfigSpec.rst)

... Should read ...

... to indicate that a list of elements is required.

[2014-07-17 18:47] hartsock opened #78 "raise exceptions"
At present actions that seem like they would throw exceptions do not. Instead the error is transmitted as part of a data object and the programmer is expected to check for an exception before proceeding.

Example:

[code]

... this is currently _anticipated_ behavior, so most programmers who have been using the lib for a number of years will have code built to handle this kind of check. The proble

[2014-07-22 09:32] svnsatya opened #83 "how to get get know profile info of VM"
If my VC have profiles like gold , sliver ..etc
Is it possible to find out what profile got applied to a VM ? whether is it gold or silver ?

[2014-07-25 10:03] reubenur-rahman opened #87 "How to get available pNIC while creating DVS"
When we manually create DVS, a check box shows us the available pnic. Now while programmatically I am hard-coding the available pnic in this way:

[code]

host.configManager.networkSystem.networkInfo.pnic   is returning me all the pnics but I am not able to find out a way to know which pnic is available for DVS creation.

Appreciate any help on this !

[2014-07-28 19:19] #55 closed, assigned to hartsock

[2014-07-28 20:29] hartsock opened #90 "String serializers no longer work correctly"
Python 3.x series improper serialization ... introduces a 'b' character in front of string.

[code]

[2014-07-28 22:34] #90 closed, assigned to hartsock

[2014-07-29 15:41] hartsock opened #92 "reraise not properly executing on python 3"
Related to: https://bitbucket.org/gutworth/six/issue/86/sixreraise-exception_object-none-traceback

reraise raises NoneType error

[code]

[2014-07-29 16:21] hartsock opened #93 "getheader does not always fetch cookie value"
Related to: https://github.com/kevin1024/vcrpy/issues/90

The [SoapAdapter.py](https://github.com/vmware/pyvmomi/blob/v5.5.0/pyVmomi/SoapAdapter.py#L1213) uses lower case `set-cookie` which may not always catch the set cookie value. This can mean validation under VCRpy reports a false failure.

[2014-07-29 19:00] #93 closed, assigned to hartsock

[2014-07-29 19:01] #92 closed, assigned to hartsock

[2014-07-30 21:47] hartsock opened #98 "SoapStubAdapter does not handle Set-Cookie header properly"
From a field report:

Salient code is: [SoapAdapter.py#L1213](https://github.com/vmware/pyvmomi/blob/v5.5.0/pyVmomi/SoapAdapter.py#L1213)

[code]

Where `self` is an instance of the class `SoapStubAdapter` which holds a copy of the SOAP session cookie inside itself. The correct behavior is to follow standard HTTP client session conventions and maintain whatever cookies the server sets for the sess

[2014-07-31 17:22] #42 closed, assigned to hartsock

[2014-08-01 21:56] #50 closed, assigned to hartsock

[2014-08-02 20:37] michaelrice opened #100 "vcrpy missing from requirements"
vcrpy is missing from the requirements file.

[2014-08-03 15:29] #100 closed, assigned to nobody

[2014-08-06 22:21] zukeru opened #103 "How do you change the annotations value"
Hello,

I have looked through the documentation but i can't seem to find a reference on how to change a config value. I'm trying to pro-grammatically changes the notes field in v center, which is the vm.config.annotation field.

I used DIR(vm) but not of the available commands seem to do what I want nor is the documentation clear enough to be able to discern what it is im trying to do. I know how

[2014-08-07 13:38] #103 closed, assigned to nobody

[2014-08-09 01:26] michaelrice opened #104 "Managed Entity doc bug from IRC"
[23:50] < an101> FYI: The docs on vim.ManagedEntity say that the parent attribute is null for the root object.  It turns out that the property is not present versus null and
                 has to be checked like this: if hasattr(thisObj, 'parent') == False:
[23:50] < an101> or catch the exception...

Just logging so we dont loose track

[2014-08-12 22:10] #104 closed, assigned to hartsock

[2014-08-13 15:46] #72 closed, assigned to hartsock

[2014-08-13 19:39] #76 closed, assigned to hartsock

[2014-08-13 22:14] zukeru opened #110 "PyVmomi and Pysphere return erroneous values for GUEST_OS"
I have a python script which uses pyvmomi to get the vm_name the guest_os and date time. This script saves it into a database. I have noticed that Vcenter is returning erroneous values for the guest_os over time. I wrote a test script which hits it every 29 ish minutes i didn't necessarily care about the time I just wanted to see if I could repeat the error with a test script which I did.

The que

[2014-08-14 22:27] zukeru opened #111 "How do you get consumed storage of a vm, excluding the snap shot drives?"
I've notice when summarizing the consumed storage for billing purposes that you get variable data due to snapshots. The size of consumed grows based on if there is a snap shot or not. is there a way to account for this and get actual consumed storage of a vm excluding the snapshots?

currently im using the following ways to get consumed:
  round(Decimal(vm['summary.storage.committed'] + vm['summar

[2014-08-15 10:50] sduehr opened #112 "NameError: global name 'Iso8601' is not defined in VmomiSupport.py and SoapAdapter.py"
In https://github.com/vmware/pyvmomi/blob/master/pyVmomi/VmomiSupport.py
line 26 is

[code]

but line 313 is

[code]

leading to the error
`NameError: global name 'Iso8601' is not defined`

eg. when calling vm.config

To fix this, I think line 313 should be

[code]

The same issue seems to exist in https://github.com/vmware/pyvmomi/blob/master/pyVmomi/SoapAdapter.py line 374:

[code]

[2014-08-15 20:30] hartsock opened #114 "Update Project Classifiers"
Development Status :: 5 - Production/Stable
Programming Language :: Python :: 2.6
Programming Language :: Python :: 2.7
Programming Language :: Python :: 3.3
Programming Language :: Python :: 3.4

[2014-08-19 04:41] #51 closed, assigned to nobody

[2014-08-19 05:10] #20 closed, assigned to nobody

[2014-08-19 16:46] unclethan opened #119 "How do I resize a Virtual Disk?"
I have created a VM from a Template, and wish to change the size of the disk. I am guessing the VirtualDiskManager is involved, but I am unsure of how to proceed. Are there any examples out there, I was unable to find any when I googled.
Thanks

[2014-08-19 20:16] hartsock opened #120 "Modify documentation for use with readthedocs.org"
Our RST doc format is fine for use with GitHub but other tools need the format to be tweaked. In particular, we want to support a copy of these docs on readthedocs.org

[2014-08-20 18:30] hartsock opened #122 "RPM and DEB packaging"
Create a method for automatically building RPM and DEB packages to submit to various Linux distributions.

See:
- https://github.com/vmware/pyvmomi/issues/123
- https://github.com/vmware/pyvmomi/issues/124

[2014-08-20 18:52] hartsock opened #123 "RPM creation."
part of: [issues/122](https://github.com/vmware/pyvmomi/issues/122)

Create tooling to support automated creation of an RPM package for pyVmomi.

[2014-08-20 18:52] hartsock opened #124 "Automated tooling for DEB creation."
part of: [issues/122](https://github.com/vmware/pyvmomi/issues/122)

Create tooling to support automated creation of an DEB package for pyVmomi.

[2014-08-20 20:08] #110 closed, assigned to nobody

[2014-08-20 20:20] #119 closed, assigned to nobody

[2014-08-20 20:22] #6 closed, assigned to nobody

[2014-08-20 22:11] #111 closed, assigned to nobody

[2014-08-21 14:36] hartsock opened #127 "Compatible version numbers"
Part of https://github.com/vmware/pyvmomi/issues/122

We need version numbers that will survive the trip through pypi, rpm, and deb tools.
- the '_' character is forbidden in pypi
- the '-' character is forbidden in rpm

[2014-08-21 18:31] mpietrek opened #128 "[documentation] VimSessionOrientedStub suggested use is incorrect"
In the class comment for SessionOrientedStub, it provides suggested usage, with code like this:

Using the 5.5.0._2014.1 release, and the above code, my code succesfully makes it past the Logout() line. However, the subsequent line (referencing sessionList) fails:

  File "/home/mpietrek/experiment/experiment_vim_session_oriented_stub.py", line 22, in <module>
    print content.sessionManager.sess

[2014-08-22 16:30] hartsock opened #129 "Better Release Documentation"
- Distill change notes from GitHub into more formal release notes
  - place in wiki
  - credit contributors
  - mark and distribute release files in GitHub

Formalize and script the process as much as possible.

[2014-08-23 13:32] michaelrice opened #131 "Strange stack when running tests for the first time"
Steps to reproduce:
1. create new virtual env
2. grab fresh clone of pyVmomi
3. active new virtual env
4. run python setup.py test

Here is the output I get every time:

 Michaels-MacBook-Pro in ~
○ → virtualenv ~/venvs/pyvmomi-test
New python executable in /Users/errr/venvs/pyvmomi-test/bin/python2.7
Also creating executable in /Users/errr/venvs/pyvmomi-test/bin/python
Installing setuptools, pip.

[2014-08-25 15:58] unclethan opened #132 "ExtendVirtualDisk succeeds, but the capacity of the disk does not change."
I attempted to change the size of a virtual disk via:
si.content.virtualDiskManager.ExtendVirtualDisk(....)

The task reported as successful (as task.info.state reported, as did the vSphere web client tasks list). However looking at the Virtual Machine that uses the disk, the capacity has not changed according to vSphere or pyVmomi. Is there a step I am missing to have the virtual machine pick up

[2014-08-25 16:16] #112 closed, assigned to hartsock

[2014-08-25 17:48] #124 closed, assigned to nobody

[2014-08-25 18:07] hartsock opened #133 "Include Open Source License in all packages"
Per [RedHat Bug # 1132971](https://bugzilla.redhat.com/show_bug.cgi?id=1132971) fix presentation of the open source license in pyVmomi so that automated tools can find it more readily.

[2014-08-25 18:35] hartsock opened #134 "Fix README to be pypi legible"
The README.md file does not render properly in pypi and required me to hand edit a RST version of the document. Fix this issue by creating a pypi friendly way to represent the README information.

[2014-08-25 18:41] #129 closed, assigned to hartsock

[2014-08-25 21:43] hartsock opened #136 "tox testing support"
Simple support for tox.

[2014-08-26 16:49] hartsock opened #138 "Fixtures should only have data in them directly pertinent to testing."
Testing fixtures should only contain data related to the test they are used in. That means if you have a test and fixture set that do not examine header information, you shouldn't have header information in the fixtures.

This also means that if you are not examining the request XML documents then, why include that data in the fixture? Take it out.

This is naturally lower priority than getting so

[2014-08-26 17:59] hartsock opened #139 "Improve sdist and bdist packaging."
- Include tests in sdist
- Include license and notices in all distributions
- Update manifest
- Use more conventional file names for licenses, notices, etc.

[2014-08-26 18:29] hartsock opened #140 "pyVim/connect.py - import httplib"
Use of `httplib` in the method `OpenPathWithStub` may  cause problems for users on Python 3.x. Refactor this method to use `requests` and write tests for this method.

[2014-08-26 18:31] hartsock opened #141 "pyVim/connect.py - use of file builtin method"
The use of the `file` built in method means that the method `GetLocalTicket` will be broken for Python 3.x users. Write tests for this method and rewrite using `six` lib compatible calls.

See: [connect.py GetLocalTicket](https://github.com/vmware/pyvmomi/blob/master/pyVim/connect.py#L262)

[2014-08-26 18:35] hartsock opened #142 "pyVmomi/SoapAdapter - SoapStubAdapter init method may use urlparse"
The `SoapStubAdapter` class' `__init__` method makes a call `urlparse.urlparse(url)[:3]` if the constructor for the object is passed an optional `url` string. This path of execution in the constructor does not appear to be used in any known use cases. That means that the offending code may not even be reachable.

Paths to resolution of this issue:
- Refactor the `__init__` method to never use `url

[2014-08-26 18:53] hartsock opened #143 "Follow the pypa examples and tutorials"
Reconfigure `pyVmomi` packaging to better follow the `pypa` examples as shown here: https://github.com/pypa/sampleproject and documented here: https://python-packaging-user-guide.readthedocs.org/en/latest/tutorial.html

[2014-08-28 09:48] cfrost opened #145 "SoapAdapter.py: wrong use of Iso8601 "global name 'Iso8601' is not defined""
Getting error

[code]

On line 374 the Iso8601 isn't used as it has been imported. Should have the pyVmomi prefix

Is now:

[code]

Should be:

[code]

[2014-08-28 14:23] #133 closed, assigned to hartsock

[2014-08-28 15:57] #145 closed, assigned to nobody

[2014-08-28 19:41] #127 closed, assigned to hartsock

[2014-08-28 19:41] #131 closed, assigned to hartsock

[2014-08-28 19:41] #134 closed, assigned to hartsock

[2014-08-28 19:41] #136 closed, assigned to hartsock

[2014-08-28 19:41] #139 closed, assigned to hartsock

[2014-08-28 19:41] #143 closed, assigned to hartsock

[2014-08-29 20:44] hartsock opened #147 "testing breaks in some test environments"
This test problem occurs on Fedora 20 ... and may recur on other distributions. This does not error on Travis CI for some reason.

[code]

[2014-08-29 21:26] #147 closed, assigned to hartsock

[2014-09-02 20:43] ghost opened #150 "Vlan for VM is not always returned"
Hello,
When running this code, sometimes I get the correct VLAN for the VM, and other times it returns as nothing.

self.__si is a SmartConnect() object

[code]

Any idea why this is happening?  Its not every time, its only a few times, but it's hard to automate.

[2014-09-02 21:19] hartsock opened #151 "Samples do not respect virtual environments"
When running samples, the python interpreter is stuck to the /usr/bin/python interpreter, this does not respect any virtual environments we may have built or may be using to run pyvmomi from inside of.

[2014-09-03 21:27] hartsock opened #153 "Comprehensive, version sensitive, guest OS listing/validation"
Based on input from [here](https://review.openstack.org/#/c/114529/4/nova/virt/vmwareapi/constants.py) we suspect that the GuestOS list needs to change based on which version of the API we're talking to. There should be a clean and clever way to manage this list.
- The list ostensibly changes based on vSphere API version (growing with each subsequent release)
- The list currently resides in [vim.v

[2014-09-05 17:46] #151 closed, assigned to hartsock

[2014-09-09 13:49] wiggin15 opened #158 "Make login optional"
We're trying to develop an extension using pyvmomi, and extensions don't log in using username and password, but use the LoginExtensionByCertificate API. However, when we call Connect or SmartConnect, we must provide a username and password for log in...
It would be great if the `__Login` function was called from Connect only if `user` and `pwd` were provided, so that it would be optional instead

[2014-09-09 14:37] hartsock opened #160 "Implement TOFU (Trust On First Use) for pyVmomi"
See: [urllib3](https://urllib3.readthedocs.org/en/latest/security.html) and [TOFU](http://www.gnutls.org/manual/html_node/Verifying-a-certificate-using-trust-on-first-use-authentication.html)

TODO:
- What level of support does Python have for TOFU?
- How can we make this behave appropriately for a user at the CLI versus a daemon?

[2014-09-09 20:39] hartsock opened #161 "[documentation] child data types"
For example, in [UserData](https://github.com/vmware/pyvmomi/blob/master/docs/vim/vm/customization/UserData.rst) the [NameGenerator](https://github.com/vmware/pyvmomi/blob/master/docs/vim/vm/customization/NameGenerator.rst) is actually a base type that shouldn't be instantiated by the end user. Instead they should use something like [VirtualMachineNameGenerator](https://github.com/vmware/pyvmomi/b

[2014-09-09 20:44] hartsock opened #162 "GuiUnattended and Timezones improvement idea"
Consider:

[code]

Shouldn't there be a way to set the timezones that doesn't involve using raw numbers?

[2014-09-10 14:10] wiggin15 opened #163 "incompatibility between gevent and SSLTunnelConnection"
When I use SSL Tunneling (pass httpProxyHost to SoapStubAdapter) and gevent's monkey patching is enabled, I get an error.

This code:

[code]

Produces this error:

[code]

Looks like it's because SSLTunnelConnection uses resp.fp which is a socket._fileobject and not a socket object. I checked, and we can use tunnel.sock instead of resp.fp -- both point to the same socket and should work in all py

[2014-09-12 06:40] #163 closed, assigned to nobody

[2014-09-14 01:59] michaelrice opened #164 "SriovInfo question"
I was trying to help answer a question on [stackoverflow](http://stackoverflow.com/questions/25529958/using-pyvmomi-to-configure-sriov-on-vm) about Sriov settings. I found the following info in the docs: https://github.com/vmware/pyvmomi/blob/master/docs/vim/host/SriovInfo.rst

I noticed this DataObject is not the property of anything which leaves me puzzled on how to access its properties. Would

[2014-09-15 16:32] hartsock opened #166 "Improve Documentation Navigation"
Based on [this question](https://github.com/vmware/pyvmomi/issues/164) we should probably work on ways to make it easier to forward and backwards navigate property hierarchies.

[2014-09-15 20:00] #164 closed, assigned to nobody

[2014-09-17 16:09] hartsock opened #168 "[Chore] Document the [Labels] and what they mean, make these easy to find."
We have had some confusion about what the labels mean. Document what they mean, get rid of some we don't need. And place the documentation in a locale that developers will easily spot.

[2014-09-17 16:10] #123 closed, assigned to nobody

[2014-09-17 16:10] #122 closed, assigned to nobody

[2014-09-17 16:28] #150 closed, assigned to nobody

[2014-09-17 17:00] #128 closed, assigned to hartsock

[2014-09-17 18:35] hartsock opened #169 "Python 3 string formatting bug in Iso8601.py"
There is at least [one place](https://github.com/vmware/pyvmomi/blob/master/pyVmomi/Iso8601.py#L198) in Iso8601.py that does not include python 3 compatible string formatting.

This indicates a poor testing coverage over date formatting issues.
- Devise a test that exercises this section of code by _only_ using exposed VMOMI API ... that is by sending or receiving a vSphere command.
- After devisi

[2014-09-18 22:18] hartsock opened #170 "Open Source SMS bindings"
* TODO, push forward the procedure to get the SMS bindings released for public consumption.

[2014-09-18 22:19] hartsock opened #171 "Open Source SPBM Bindings"
- Push forward tasks for Open Sourcing SPBM bindings

[2014-09-18 22:20] hartsock opened #172 "Open Source EAM bindings"
- push forward process to open source the EAM bindings

[2014-09-19 14:12] reubenur-rahman opened #173 "Login error : SSLError: [Errno 1] _ssl.c:510: error:140770FC:SSL routines:SSL23_GET_SERVER_HELLO:unknown protocol"
Any idea why I am getting this login issue ? This is happening when I have done operation on a vcenter and after completing that. I am changing the address and login creds and connecting to a different vcenter.

  File "build/bdist.linux-x86_64/egg/pyVim/connect.py", line 577, in SmartConnect
    preferredApiVersions)
  File "build/bdist.linux-x86_64/egg/pyVim/connect.py", line 520, in __FindSuppo

[2014-09-22 15:42] hartsock opened #174 "pip does not recognize 5.5.0-2014.1.1 as a release"
The bug fix version 5.5.0-2014.1.1 is not recognized as an official release of pyVmomi but is instead a 'pre-release' based on the rules in [pep440](http://legacy.python.org/dev/peps/pep-0440/#pre-release-separators) so we need to change our version naming convention to use `.` instead of `-` and re-release.

[2014-09-22 16:07] #174 closed, assigned to hartsock

[2014-09-23 09:06] #173 closed, assigned to nobody

[2014-10-06 20:37] austinnichols101 opened #176 "Network interruption causes WaitForUpdatesEx blocking issue"
The following code retrieves a list of host objects every 10 seconds.  For my test, I run this code on my laptop inside of a VMware Workstation Ubuntu VM.  This allows me to use VMware Workstation to simulate a break in network connectivity (adapter is up, but client is unable to communicate with vSphere).
1.  Allow the code to run for a few cycles (2-3 is enough).
2.  Uncheck 'VM/Settings/Network

[2014-10-14 06:11] vnbang2003 opened #178 "Unable to Fetch FileSize, modifled and owner information of files in datastore"
Am trying to fetch filename, filesize and owner information of each file in datastore.
Below is the code i use for fetching

<>
search = vim.HostDatastoreBrowserSearchSpec()
    search.matchPattern = "*.vmx"
    searchDS = dsbrowser.SearchDatastoreSubFolders_Task(dsname, search)
    while searchDS.info.state != "success":
        pass
    results = searchDS.info.result
    #print results
    for r

[2014-10-15 15:46] sebbrochet opened #179 "InsecureRequestWarning message when connecting on vcenter"
Hello,

Using pyvmomi==5.5.0.2014.1.1, **urllib3** reports a warning message when connecting to a vcenter host, possibly because the HTTPS connection is made with `verified=false` (see: https://github.com/kennethreitz/requests/issues/2214)

Warning message doesn't seem to be displayed when using pyvmomi==5.5.0

 Full error:

[code]

Sample code to reproduce error:

[code]

As a workaround, warning

[2014-10-16 08:34] grzn opened #180 "Possible versionId mismatch MMESoapStubAdapter"
Consider the following scenario:
- Using pyVmomi with vCenter 5.5, which manages ESXi 5.1

In this case, MMESoapStubAdapter sets versionId to _urn:vim25/5.5", but the ESXi is 5.1, and later the ESX returns InvalidProperty exceptions:

[code]

Note that v5.5.0.1 here is https://github.com/Infinidat/pyvmomi/commit/ba5b8d21d2d9754e6a47db1ce80a82dd5b6f3cd4, and the changes we added to our fork are not

[2014-10-20 13:47] sebbrochet opened #181 "RegisterVM method on vim.folder doesn't exist"
Hi,

Contrary to documentation on this page (https://github.com/vmware/pyvmomi/blob/master/docs/vim/Folder.rst), the `RegisterVM` method on a `vim.folder` object doesn't exist.

After some digging, seems like corresponding method is named: `RegisterVM_Task`

Tested on pyvmomi==5.5.0.2014.1.1 against vCenter 5.5.0

[2014-10-20 19:10] grzn opened #182 "ParseError on CreateCollectorForTasks.ReadNextTasks(10)"
We had an incident at a customer side today with the following piece of code:

[code]

The traceback is:

[code]

The error is in line7 column 1337, which is the '/' in the ending name tag ... `task-746590</task><name>LeaseMapDiskRegion</name>`

with proper indentation, the response looks legit:

[code]

This was against vCenter 5.1, don't know which update, but I can find out.
I'll try tomorrow t

[2014-11-05 00:26] zukeru opened #183 "What is the most effcient way to find VM by vm-mor?"
I've been looking into how search for VMs. I looked through the documentation and the community samples, but found nothing.

I want to find VMs by thier MOR, I believe in pyvmomi its called _moId. I could get all the vms and save them into a dictonary but I believe that would be slower.
I'm not entirely sure its possible, but if anyone could help me find a vm by is _moId or mor according to pysphe

[2014-11-05 14:54] #183 closed, assigned to tianhao64

[2014-11-05 17:47] zukeru opened #184 "Why does my code not return VCD managed VMs?"
I'm not entirely solid on the whole VM folder structure inside vCenter, I apologize for my lack of knowledge. I used the community sample to make the following, however for some reason none of the vms that are VCD managed are being found. What am I doing wrong?

[code]

[2014-11-11 22:21] #184 closed, assigned to nobody

[2014-11-12 20:29] zukeru opened #185 "What is the most effective stat to show memory used for a VM in vcenter?"
Hello,

I'm trying to find a way to really display the amount of memory being used on the GuestOS of a VM inside vcenter.

For example I have VM1
vm1 active memory inside vcenter is .250GB
but VM1 is a DB server and on the box its self it should 8GB used

Because vcenter looks at the active memory pages being used it thinks only .250GB is being used when in reality 8GB is being used by the guestOS

[2014-11-12 21:55] zukeru opened #186 "Search by VM_UUID not returning VM"
I have a program that searchs a db continusously for commands to send to a vcenter for various reasons mainly because out customer portal is in a different security zone than vcenter so inorder to protect our vcenter we use a db as a mediator for commands. I'm writing the script to get the vm by its uuid, however it is returning a none type for the vm when I know it exist because im getting the uu

[2014-11-13 20:34] MchaelBoyar opened #187 "Please continue support of VC 4.0"
Please relax your policy of supporting last 4 versions of VC.
The current policy is too restrictive, specifically pyVmomi 5.1.0 is last to support VC 4.0.
I'm a pyVmomi user, I still have some VC 4.0 left; I'm forced to stick with pyVmomi 5.1.0

Michael Boyar
Configuration Management
JP Morgan Chase
VMWare Agreement #: 00101692

[2014-11-13 20:38] MchaelBoyar opened #188 "Can’t retrieve licensableResource property of HostSystem"
I can't retrieve licensableResource property of HostSystem.
For example, using MOB in VC 5.1 the property is visible, yet in pyVmomi it generates this stack trace:

Michael Boyar
Configuration Management
JP Morgan Chase
VMWare Agreement #:  00101692

[2014-11-13 20:42] MchaelBoyar opened #189 "pyVmomi makes mistakes in differentiating between 4.0, 4.1 and 5.x VC targets"
pyVmomi makes mistakes in differentiating between 4.0, 4.1 and 5.x VC targets and tries to get 5.x properties from 4.x targets.
Examples:
Unexpected error:  <class 'pyVmomi.VmomiSupport.vmodl.query.InvalidProperty'>
Unexpected error:  <class 'pyVmomi.VmomiSupport.vmodl.fault.SystemError'>

Michael Boyar
Configuration Management
JP Morgan Chase
VMWare Agreement #:  00101692

[2014-11-21 00:14] sujeetk opened #190 "Parse Error when trying to access description attribute of EventManager"
I am trying to obtain eventInfo object associated with an event manager in the following manner:

[code]

I get an exception with the following trace:

http://pastebin.com/znVDTaPR

[2014-11-24 17:37] zukeru opened #191 "Performance Manager IOPS Average Metric returning negative values"
Hello,

I'm using a performance manager to collect iops data for VMs. What I have noticed is that vCenter returns a negative average for some VMs. I didn't think it was possible to return negative values for IOPS, is this a bug in pyvmomi or the way I'm getting the data.

I'm using a sample interval of 1 minute, thus if it takes 3 values over that one minute and we divide the average by 3 we shoul

[2014-11-26 11:48] pmalek opened #192 "How to clone a machine and attach it to a specific datastore?"
I would like to use pyvmomi to clone VMs and attach it to specific datastore (specifically with most free space). I couldn't find a solution for this in pysphere therefore I am coming here with hope that it's possible with pyvmomi :)

[2014-12-02 00:15] zukeru opened #193 "Having trouble retrieving config.ExtraConfig.OptionValue"
Goal: To determine by a each VM's UUID if it is managed by vCloud Director or vCenter. This is so I can know which API to send the commands too. I search each vm by UUID because the program is looping through a command_dictonary. Thus, it is not always looping through a very large amount of VM's.

Since I already have the VM object I'm trying to get to the object value config.extraConfig Inside th

[2014-12-03 00:57] inevu opened #194 "Socket connections opened after executing connect.Disconnect(service_instance)"
Hi All,

It seems like some file descriptor sockets remain opened after executing connect.Disconnect(service_instance). I am running an infinite loop in this example.

This is part of the code:

[code]
If I go to /proc/PID/fd/ I see this:

[code]

I thought the Disconnect() method would clear all these sockets, but it doesn't. Is this expected? Am I doing something wrong?

Thanks!

[2014-12-03 18:17] zukeru opened #195 "Performance Manager Property Collector Not Returning IOPS for 1 minute intervals."
I'm trying to fix my negative iops so I wrote a script that returns different IOPS metrics for each vm. I used a property collector and performance manager to pull the data. The datastore.datastoreWriteIops.latest, and the datastore.datastoreReadIops.latest doesn't return anything ever. If I take the start_time and end_time out of the query it will return a value for the other four metrics but the

[2014-12-03 21:31] zukeru opened #196 "SmartConnect Failing"
So I wrote a program that connects to vCenter API using pyvmomi and when I try to run it on my production box I get the following error:

2014-12-03 21:07:00,453 CRITICAL Unexpected error: <type 'exceptions.IOError'>
2014-12-03 21:22:13,060 ERROR ApplicationError
Traceback (most recent call last):
  File "/opt/metering-home/code/PortalBackendController.py", line 193, in vm_command_center
    vcent

[2014-12-04 16:49] #196 closed, assigned to nobody

[2014-12-09 02:07] strongliang opened #197 "is this package comparable to vSphere SDK for Perl?"
Hi,

I'd like to know how this package differs from the perl sdk

http://pubs.vmware.com/vsphere-55/topic/com.vmware.sdk.doc/GUID-2F1B2F72-92F1-442C-8283-CF5736392DEA.html

[2014-12-09 05:49] #87 closed, assigned to nobody

[2014-12-11 16:00] r1k0 opened #198 "no support for proxy for 5.1"
Hi guys,
In our company, we're about to migrate some code from pysphere to pyvmomi.
I'm working with https://github.com/vmware/pyvmomi/releases/tag/v5.1.0.
We have an internal proxy where all connections pass through and that caused an issue.

[code]

After having changed __GetServiceVersionDescription() in pyVim/connect.py from:

[code]

to:

[code]

I get:

[code]

which looks much nicer.

Quest

[2014-12-22 18:39] #197 closed, assigned to nobody

[2014-12-22 18:44] #193 closed, assigned to nobody

[2014-12-22 18:48] #192 closed, assigned to nobody

[2014-12-30 19:25] #132 closed, assigned to nobody

[2015-01-14 11:56] pmalek opened #201 "Unexpected error: HTTPSConnectionPool ...Max retries exceeded with url ... 502 Proxy Error"
I am trying to use pyvmomi instead of pysphere for managing my vSphere but I am having some issues with initial setup. I have been successful with launching [this gist](https://gist.github.com/hartsock/513a27e0694e151fcea0) but trying to launch modified version of [this one](https://github.com/vmware/pyvmomi-community-samples/blob/master/samples/getallvms.py) gives me:

[code]

My code:

[code]

W

[2015-01-14 12:19] pmalek commented on #201
Leaving out the port seems to help:

[code]

[2015-01-14 19:02] hartsock commented on #201
The `port=902` confuses me.

[2015-01-15 09:40] pmalek commented on #201
I was trying out different settings from pyVmomi docs. leaving out the port works ok.

[2015-01-15 15:18] hartsock commented on #201
So... my thought is port `902` should fail. It isn't supposed to be anything. With no entry the port should default to `443` if memory serves. It's either `443` or `80` or something rather standard.

[2015-01-15 17:29] pmalek commented on #201
Well it works leaving the default value so that's ok. We can close this.

[2015-01-15 17:29] #201 closed

[2015-01-16 15:33] jon67400 commented on #8
Hello,

I have a problem when I use this method

device = template_vm.config.hardware.device

Do you have an idea to help me?

raceback (most recent call last):
File "vsphere.py", line 460, in
opt_parser(opt)
File "vsphere.py", line 423, in opt_parser
vm_parser(opt)
File "vsphere.py", line 238, in vm_parser
vm_create(opt)
File "vsphere.py", line 157, in vm_create
device = template_vm.config.hardwa

[2015-01-16 17:09] purple4reina commented on #8
@jon67400 Which object are you calling the method on? `template_vm` or `device`? Attach your full code and I'd be happy to take a look.

[2015-01-16 17:34] gxben opened #202 "Allow client to force non-compressed HTTP sessions."
I had an issue with pyvmomi SDK where certain objects can't be accessed (SOAP Exception from HTTP request).
It appears to be due to the fact that pyvmomi adds gzip,deflate header to request and, under special circumstances, server responds with transfert-encoding being chunked.

SoapAdapter class doesn't seems to handle HTTP chunked data at all, going through exception.

Attached is a small patch

[2015-01-16 17:40] dadopap commented on #8
Hi can you please be more specific (give some more code) as what you wrote
should never give any error since you are simply referencing variables and
not running any method. devices should be a list of devices that's it.

Thanks

----------------------------
Davide Papini
PostDoc Research Assistant - CySeCa Project
ISG - Royal Holloway University of London
s2lab.isg.rhul.ac.uk - cyseca.isg.rhul.ac

[2015-01-16 18:34] jon67400 commented on #8
Here is the content of the template_vm:

    template_vm = get_obj(content, [vim.VirtualMachine], template)

where template is the name of the vm template.

Here is the content of the get_obj method

def get_obj(content, vimtype, name):
    obj = None
    container = content.viewManager.CreateContainerView(content.rootFolder, vimtype, True)
    for c in container.view:
        if c.name == name:

[2015-01-16 18:41] purple4reina commented on #8
Try using some print statements to see what's going on. For example:

[code]

This will allow you to know exactly where the error is occurring.

[2015-01-16 19:04] jon67400 commented on #8
with prints...

'vim.VirtualMachine:vm-228'
Traceback (most recent call last):
  File "vsphere.py", line 465, in <module>
    opt_parser(opt)
  File "vsphere.py", line 428, in opt_parser
    vm_parser(opt)
  File "vsphere.py", line 243, in vm_parser
    vm_create(opt)
  File "vsphere.py", line 158, in vm_create
    print template_vm.config
  File "build/bdist.macosx-10.6-intel/egg/pyVmomi/VmomiSup

[2015-01-16 20:44] purple4reina commented on #8
@jon67400 I'm sorry but it seems you've reached the limit of my knowledge. I've tried googling around for your error, but haven't found anything.

[2015-01-17 00:44] dadopap commented on #8
Hi,

Probably this is a stupid question to ask, but do you have problems with
other functions or everything works perfectly?

Does the version of the VMware sdk support the vsphere environment version
that you have?

----------------------------
Davide Papini
PostDoc Research Assistant - CySeCa Project
ISG - Royal Holloway University of London
s2lab.isg.rhul.ac.uk - cyseca.isg.rhul.ac.uk
davide.pa

[2015-01-17 01:04] michaelrice commented on #8
This should have been opened as a new issue.

[2015-01-19 19:30] hartsock commented on #8
I'm having trouble parsing this thread. It would help if we could get a failing sample in a gist to work with.

[2015-01-19 19:32] hartsock commented on #202
I think this is a reasonable change request and I'm surprised it hasn't come up before. Please note that there are [standards for contribution](https://github.com/vmware/pyvmomi/wiki/Contributions). In some cases where it's clear testing is not feasible and that the code is non-intrusive based on human inspection I may grant an exception. I would prefer avoiding exceptions like that and prefer cle

[2015-01-20 17:55] lathrop-navisite opened #205 "Timezone issue?"
We think we are seeing an issue with wrong timezone interpretation here.
Iso8601.ISO8601Format seems to be always interpretting timezone as in daylight savings time by using altzone. However, this gives false response when not in DST.
Based on ISO8601 (http://en.wikipedia.org/wiki/ISO_8601) it looks like it should take into account whether or not you are currently in DST.

Issue came up for us in

[2015-01-20 18:01] hartsock commented on #205
I'll take a look at this late next week. If it's as you say, nice catch!

[2015-01-20 20:33] cameronsparr commented on #171
Hi Shawn,

Any updates on the SPBM support? I'm interested in the same APIs as listed above by shay-berman. I know that the Dec 15th release got pushed back but is there an estimated release date at this point? Will it be this month?

Thanks much.

[2015-01-21 13:35] hartsock commented on #171
@cameronsparr we had to shuffle my priorities for 4th Quarter 2014 which pushed pyVmomi work back. I'm revisiting the project in February 2015 and will start to establish new timelines. I need to coordinate what changes get to show up on GitHub and when with the parties in VMware that control those code-bases. So far the SPBM owners are reluctant to let me have their code for open source distribut

[2015-01-27 15:00] rreubenur opened #206 "[Question] How to identify a management dvswitch/portgroup"
Is there an easy way to identify a management dvswitch/portgroup ?  What I know is to identify it from  host level that is ```host.configManager.virtualNicManager.info.netConfig.nicType```  . Is it possible to identify them from dvswitch object or is there any shortest method ?

[2015-01-29 13:45] hartsock commented on #206
Okay, this is a *good* question. I'll actually have to do some research to figure this out.

[2015-01-29 19:43] hartsock commented on #181
This appears to be a documentation issue. The name `RegisterVM_Task` seems to appear.

[2015-01-29 19:44] frispete commented on #194
@inevu: please tell us your python version: specifically, Python 2.6 or later?

[2015-01-29 19:55] hartsock commented on #182
Unfortunately this sounds like a fairly straight forward XML parsing issue. To fix this I would write a test that mocked up in a fixture the XML @grzn has posted and then iterate a few times to see if I couldn't make everything behave properly.

Notes:
* the XML parser should fail more meaningfully when it does fall down
* this sounds like a bug we discussed previously about pyVmomi dynamically ha

[2015-01-29 20:08] hartsock commented on #186
I'm sure I'm not giving this justice, my eyes are glazing over at the size of this post. So, I'll at least give you some troubleshooting advice first before we dig too deep.

* According to [official docs](http://pubs.vmware.com/vsphere-55/index.jsp#com.vmware.wssdk.apiref.doc/vim.SearchIndex.html#findByUuid) those two flags on the end of `search_index.FindByUuid(None, vm_uuid, True, True)` that y

[2015-01-29 20:08] #186 closed

[2015-01-29 20:46] hartsock commented on #191
My first instinct is to ask you to modify your script so it has a [flight recorder](https://github.com/vmware/pyvmomi-community-samples/commit/36f65e38dc4e6c67d56dd2da7ad2980003eeb5b2) embedded in it. Then I would want to scour your recordings for negative values in the actual XML messages from vCenter.

If it really *is* the *Performance Manager IOPS Average Metric returning negative values* then

[2015-01-29 22:03] parthgala commented on #191
Hi zukeru,

Can you let me know which is the negative average here? You seem to calculate 2.
Also, when you get a negative value, can you print out the entire result from the perfManager.queryPerf()
This might help in figuring out if vCenter is returning such data.

[2015-01-30 15:22] hartsock commented on #191
@zukeru & @parthgala I just heard back from the owners of the *PerformanceManager* implementations on **ESX** and **Virtual Center** ...

So, this is not a *bug* but a feature. You need to check for negative values since those mark *no* data found.

Off hand, we could "fix* this in the client by watching for `-1` in some contexts and substituting `None` but that would require the client library be

[2015-01-30 15:22] #191 closed

[2015-01-30 15:25] hartsock opened #207 "[Documentation] Create a manual page for PerformanceManager"
Based on interactions over (Issue 191)[https://github.com/vmware/pyvmomi/issues/191] we need to create a *sample* and a *manual* page featuring `PerformanceManager` and specifically address that the value `-1` in this context is a special *data not found* value.

This could be some what surprising to some developers as we've observed. So we want to make this something that's easy to *google* and a

[2015-01-30 17:04] troob opened #208 "can connect.Connect() use loginBySSPI"
Is it possible to use loginBySSPI with connect.Connect() ?

[2015-02-02 15:15] hartsock commented on #208
While there *are* stubs for this behavior in the `pyVmomi` code as it ships now, the *backing* logic has not been approved for release under an Open Source license. I am hopeful that we will get donations from someone who is willing to create these function in some future release. I'm not able to quote a time line on when that might be just now.

* I would encourage you to open a feature request t

[2015-02-02 15:15] #208 closed

[2015-02-03 03:43] strongliang opened #209 "support for vSphere 6.0?"
vSphere 6.0 is released today ([what's new](https://www.vmware.com/files/pdf/vsphere/VMware-vSphere-Whats-New.pdf)).

will pyVmomi support it, and if so, when's the planned release?

[2015-02-03 11:27] hartsock commented on #209
There will be a version of `pyVmomi` that ships inside the vSphere 6.0 release that will have support for all the public API. We will be able to port the new features after that version is publicly available. Since the new version is not yet available for download, we will have to wait on that and put the new API into our code-base for the upgrade cycle. I am *informally* planning on 2 releases in

[2015-02-03 11:27] #209 closed

[2015-02-03 15:57] hartsock commented on #179
@michaelrice I'm in agreement here. We could entertain a feature that made this *easy* to do with a flag to smart connect but, I think it is best to leave the warnings.

My concerns:
* we do **not** want to make it *too* easy to form insecure HTTPS connections
* we do want to encourage people to understand what's happening when they use `verified=false`
* we do **not** want to introduce a blocker,

[2015-02-04 17:08] crichon opened #210 "Documentation is not up to date"
Hi

I didn't spend much time checking it, but at least,

https://github.com/vmware/pyvmomi/blob/master/docs/vim/VirtualMachine.rst

is not up to date. Method **ReconfigVm** does not exist. Actually, it's **ReconfigVM_Task** or **Reconfigure**. Both seem to work.

Could you please check and update the documentation ? Thanks

[2015-02-04 17:15] crichon commented on #210
Sorry I posted before checking opened issues. This one relate to #181, so I am closing it.

[2015-02-04 17:15] #210 closed

[2015-02-04 19:40] strongliang opened #211 "RegisterVM_Task doesn't work properly without the "pool" param"
from the vSphere API doc, only path and asTemplate are required, and vCLI vmware-cmd works properly without specifying resource pool. However, in here, without the pool argument, this is what I get.
[code]

[2015-02-06 16:51] hartsock commented on #211
I've seen this before... most notably back when I was working on the OpenStack Nova driver for vSphere. The problem is *ambiguity* ... the placement task doesn't know where to place the VM. In many situations there's only one *obvious* location to drop in the new VM and vCenter will just fill in the blank for you. The interesting thing is that even though the API specifies Folder ... I think the c

[2015-02-06 16:58] hartsock commented on #210
@crichon thanks... and *yes* we currently *have* documentation but it could be *a lot* better. I need volunteers inside VMware to help with that because of how the docs get made. Ideally we should be able to produce [something like this](http://pubs.vmware.com/vsphere-55/index.jsp#com.vmware.wssdk.apiref.doc/index-mo_types.html) (note the search feature) but for Ruby and Python specifically.

Do c

[2015-02-10 16:15] hartsock opened #212 "PEP 0466 - SSL - Changes consideration"
As of Python 2.7.9 the default SSL behavior has changed ([see PEP 0466](https://www.python.org/dev/peps/pep-0466/)). SSL certificates are verified in *strict* mode. Since vCenter's default *beginner* use case is to deploy with a self-signed certificate we may need to add some additional flags, settings, and warnings inside `pyVmomi` to alert about and accommodate this change.

* We want new users

[2015-02-10 17:13] hartsock commented on #34
@wiggin15 good points. We may be forced to avoid supporting ESXCLI in the main library. One possible work-around is to allow for pyVmomi "plugins" that could support unofficial API inside themselves. I'll investigate further before release time.

[2015-02-10 19:46] jm66 opened #213 "Create VM by using StorageDRS"
Hi guys,

I've been trying to create a VM using Storage DRS, and while I don't get the VM created, vCenter crashes. I'm currently analyzing the vC logs but wanted to ask you guys if I'm doing it right. Here's what I've done so far assuming the following:
- A full VM config Spec tested with vim.Folder.CreateVM_Task. This means that the config spec object is working and there are no errors.
- A vali

[2015-02-10 23:05] hartsock commented on #212
So far I have been unable to find a way to override the Python interpreter-wide `ssl.SSLContext.verify_mode` so I am leaning toward making a patch to the library to allow users to pass in a set of flags to `Connect` and `SmartConnect` ... more on this later.

[2015-02-11 05:43] dnaeon commented on #212
Hey Shawn,

[PEP-476](https://www.python.org/dev/peps/pep-0476/) talks about the technical details of the new SSL behaviour.

The [Opting out section of PEP-476](https://www.python.org/dev/peps/pep-0476/#id29) also provides details on how to disable certificate verification.

Hope that helps.

Regards,
Marin

[2015-02-11 18:37] hartsock commented on #213
So, the closest thing we have is [William Lam](https://twitter.com/lamw)'s blog post [VM Provisioning on Datastore Clusters in vSphere 5](http://www.virtuallyghetto.com/2012/03/vm-provisioning-on-datastore-clusters.html). Hopefully, you can use this post to work out a solution for yourself. I would greatly appreciate a [sample](https://github.com/vmware/pyvmomi-community-samples) should you work s

[2015-02-11 18:45] hartsock commented on #212
@dnaeon thanks! That certainly helps clarify a few things and we were looking for a global monkey patch solution as a stop-gap. I don't want that as a permanent solution but I would want to have a work-around to show people while we work out what to do correctly.

[2015-02-11 20:05] kellerkind opened #214 "[Feature Request] Implement loginBySSPI for SAML PKI authentication"
It would be great to implement this in pyvmomi. There's a python module at [GitHub](https://github.com/onelogin/python-saml) which would help accomplishing this task!

[2015-02-11 20:48] hartsock commented on #213
I've looked this over again... and something *jumps* out at me...
` rec = content.storageResourceManager.RecommendDatastores(storageSpec=storagespec)`

You are trying to build a `RecommendDatastores` object with the `storageSpec` set  to `storagespec` if I'm right and you output the variable `rec` as a string or examine it in the debugger you'll notice that `storageSpec` is never set to the value

[2015-02-11 20:48] #213 closed

[2015-02-11 21:05] jm66 commented on #213
hey @hartsock, thanks for your response. I wrote the code based on William Lam's post and it was very useful. I will review it once more and see if I'm missing something.

With respect to the initializers, I followed your recommendation:
[code]
But got the following:
[code]
Looking at https://github.com/vmware/pyvmomi/blob/master/docs/vim/StorageResourceManager.rst it seems that it ```RecommendDat

[2015-02-11 21:15] hartsock opened #215 "[Enhancement] builder-like method calls (named parameters in remote method invocation)"
Python developers often want to write things like `Foo(property='bar')` and sometimes things like:

[code]

... versus ...

[code]

Programmers are reporting problems using the top example versus  the bottom example. This is not universally reported as a problem but may be a situation where certain versions of python support behaviors other versions do not, or it may be a case of some basic issues

[2015-02-11 21:40] hartsock commented on #183
NOTE: Just because it's come up and someone else might want to read this,

The bit about exposing the *MOR ID is bad* thing is my opinion. I personally think that the MOR ID is like a table row identifier of `15` where *virtual machine number 15* is not all that meaningful beyond the local context. So it's not a *good* place to do integration work from. There are *going* to be situations where we'

[2015-02-11 21:42] hartsock commented on #213
@jm66 it appears I may be just plain wrong about the builder thing.

[2015-02-11 21:46] hartsock commented on #213
This is odd ... according to [official documentation](http://pubs.vmware.com/vsphere-55/index.jsp#com.vmware.wssdk.apiref.doc/vim.StorageResourceManager.html#recommendDatastores) ... `RecommendDatastores` is a **method** call.

Okay, so that means ...

`rec = content.storageResourceManager.RecommendDatastores(storagespec)`

... should work and if it does then I'm guilty of *over thinking* things.

[2015-02-11 21:58] jm66 commented on #213
No worries - I'll keep digging. For now, I've found a workaround which is not elegant but at least solves the problem. I can get the recommended datastore object from ```rec``` provided by ```storageResourceManager.RecommendDatastores(storagespec) ``` so I can use it to create the vm using ```vim.Folder.CreateVM_Task```.

Yeah, I know, it's not an elegant solution and will keep investigating.

[2015-02-11 22:09] hartsock commented on #213
@jm66 if you do find something nice (or even if you don't) I'm serious about the sample. I would like to float up some of these to possibly help with future API designs for whomever is doing that on the release for vSphere after this one.

[2015-02-11 23:22] michaelrice commented on #214
I can see one issue with that module if its dependencies section is correct. It says 2.7, and right now we have to maintain 2.6, 2.7, and various version of 3.x support. This is a good place to start though, if it doesnt support all of those versions maybe it wouldnt take too much to add support for them..

[2015-02-12 01:17] strongliang opened #216 "will VAIO be part of the pyVmomi 6.0 release?"
It's probably a yes but I'd just like to confirm it

[2015-02-12 01:20] strongliang opened #217 "what's the relationship between pyVmomi and the vCloud Python SDK?"
I just realized that there is a Python SDK included in the vSphere 6 release but it looks quite a bit different from pyVmomi.

[2015-02-12 01:47] strongliang commented on #211
I just tested this on a single host directly (no vCenter), and there is no explicit resource pool, still the API complains about the same thing. I don't think it's a big deal, though, since I can always assign it to the default "Resources" pool.

if you're looking for people to contribute to a pyCLI kind of project, count me in.

[2015-02-12 15:16] jm66 commented on #213
Sure @hartsock , will share it. Good new (I think): I've analyzed many logs and found something quite interesting. I have the feeling the problem is related to vCenter:
[code]

Opening a support case now.

[2015-02-12 17:33] hartsock commented on #216
I won't likely have it in the public version for [2015.1](https://github.com/vmware/pyvmomi/milestones/pyVmomi%202015.1) but we *might* have it by [2015.2](https://github.com/vmware/pyvmomi/milestones/pyVmomi%202015.2) this project is asynchronous of the main vCenter release schedule which normally means we probably lag by about 6 months. Also, remember this is a [fling](https://labs.vmware.com/ab

[2015-02-12 17:33] #216 closed

[2015-02-12 17:33] hartsock commented on #216
NOTE: There is a private licensed version of pyVmomi that you can obtain and that one has a different feature set from this one.

[2015-02-12 17:42] hartsock commented on #217
I'm actually in the process of discussing this with various project owners. This project is a [VMware Labs fling](https://labs.vmware.com/about) and does not fall under the normal support and release cycle umbrella. We release asynchronously and we're not under the same constraints as other projects (we're under different constraints in resources, legality, and process).

At the moment there is no

[2015-02-12 18:24] synthead opened #218 "VirtualDisk's capacityInKB attribute is deprecated in vSphere API 5.5 but is a required field in pyVmomi"
In the [VMware vSphere API 5.5 spec for VirtualDisk](http://pubs.vmware.com/vsphere-55/index.jsp?topic=%2Fcom.vmware.wssdk.apiref.doc%2Fvim.vm.device.VirtualDisk.html), it states:

Currently, I have this bit of code in a script:

    disk = pyVmomi.vim.vm.device.VirtualDisk()
    ...
    disk.capacityInKB = int(1048576 * size)  # 1 GiB == 1048576 KiB.

But when I replace `.capacityInKB` with `.cap

[2015-02-12 18:26] hartsock commented on #211
Hrm... okay so I'm reopening it as a bug just to make me look at it again later.

Things I would like:
* a [recording](https://github.com/vmware/pyvmomi-community-samples/blob/master/samples/hello_world_vcenter_with_yaml_recorder.py#L80) of your HTTP transaction
* version numbers for everything ... Python, vCenter, pyVmomi (to be paranoid)

I'll place this on the back log.

[2015-02-12 18:32] #217 closed

[2015-02-12 20:06] jm66 opened #219 "Update vim.vm.Snapshot docs"
According to official docs: [vim.vm.Snapshot](https://www.vmware.com/support/developer/converter-sdk/conv55_apireference/vim.vm.Snapshot.html)
`vim.vm.Snapshot.RemoveSnapshot` method must be update to `vim.vm.Snapshot.RemoveSnapshot_Task` and `vim.vm.Snapshot.RevertToSnapshot` to `vim.vm.RevertToSnapshot_Task`

[2015-02-12 20:14] hartsock commented on #216
@strongliang it will be inside your vCenter appliance or server. You will have to discuss that with your partner developer channels as that's a wholly different license.

[2015-02-12 20:22] hartsock commented on #217
This response was a little difficult for me to write and I'm sorry for any confusion it may cause.

[2015-02-13 16:07] hartsock commented on #190
@michaelrice thanks for the recording

@sujeetk the giant xml dump is supposed to help us figure out where the parser died. Using @michaelrice 's recording I may hopefully be able to identify the XML line and position where the XML parser fails and then fix it.

Things that are nice to know:
* What version of vSphere are you using?
* What version of Python?

I'll place this in the back log for soo

[2015-02-13 16:09] hartsock commented on #190
Note: anyone can build a unit test and/or fix using @michaelrice 's recording. I'll remove the 'help wanted' tag the day I start work on this bug.

[2015-02-13 18:53] sujeetk commented on #190
I am using vSphere 5.5 and Python 2.7.

On Fri, Feb 13, 2015 at 8:09 AM, Shawn Hartsock <notifications@github.com>
wrote:

[2015-02-17 13:39] kellerkind opened #220 "Autostart Manager Reconfiguration failed"
When configuring Autostart Options for a virtual machine the virtual machine is not found.

def set_host_autostart(host, vm):

    defaults = { 'start_delay': 120, 'stop_delay': 65535, 'start_action': 'powerOn', 'stop_action': 'GuestShutdown' }
    asm = host.configManager.autoStartManager

    asm_spec = vim.host.AutoStartManager.Config()
    asm_spec.defaults = vim.host.AutoStartManager.SystemDe

[2015-02-27 13:38] retooth opened #221 "Get Folder in which VM resides"
Hi,

i'm looking for a way to find the folder in which a VM resides. Something like:

[code]

Does pyVmomi offer a method like this?

[2015-02-27 14:07] michaelrice commented on #221
That's less a limitation of pyvmomi and more that of the web services API
that pyvmomi wraps.

I think what you will have to do is something like:

    parent = vm.parent
    Until parent is instance of Folder:
        Parent = parent.parent

Sorry for sloppy pseudo code I'm on my phone right now.

There may be a better way to solve this but that's all that is coming to
mind right now.
On Feb 27,

[2015-02-27 14:57] retooth commented on #221
It states [here](https://www.vmware.com/support/developer/vc-sdk/visdk41pubs/ApiReference/vim.VirtualMachine.html):

So

[code]

will give me the folder?

[2015-02-27 14:57] jm66 commented on #221
@michaelrice totally right.
[code]

[2015-02-27 15:20] retooth commented on #221
great! thanks, guys

[2015-02-27 16:32] michaelrice commented on #221
I was thinking that if the VM was part of a Vapp the parent would be the
Vapp. You might check that just to be sure.

On Fri, Feb 27, 2015 at 9:20 AM, Fabian Vallon <notifications@github.com>
wrote:

[2015-03-03 15:40] reubenur-rahman opened #222 "Why there is no attribute for UplinkPortOrderPolicy to select unused uplink ?"
Why there is no attribute to select unused uplink ? When we can do the same from client ! Is it by, design or is there any other way to do that ?

The documented API only supports active & standby.

https://github.com/vmware/pyvmomi/blob/f7f7484198ebd96fdad0416fb1aff990ccff99ea/docs/vim/dvs/VmwareDistributedVirtualSwitch/UplinkPortOrderPolicy.rst

[2015-03-03 15:43] rreubenur commented on #206
Okay I think there is no way you can find a mgmt dvs from dvs properties.  The only way to find that is HostConfigManager which I have explained in my question.

Closing this issue.

[2015-03-03 15:43] #206 closed

[2015-03-03 15:56] rreubenur commented on #222
Interesting thing is the POWER CLI reference has documented that.

https://pubs.vmware.com/vsphere-55/index.jsp?topic=%2Fcom.vmware.powercli.cmdletref.doc%2FSet-VDUplinkTeamingPolicy.html

[2015-03-04 15:27] reedog117 opened #223 "Separate pyvcr testing into separate project?"
Is there any push to separate the pyvcr-based test harness into a separate project for continuous integration purposes and/or other projects that directly access the vSphere Web Services API? Alternatively, is there some sort of mock vCenter / vSphere WS simulator available online?

I've authored two modules to interface to vSphere Web Services using Node.js, but would like to be able to test usin

[2015-03-04 20:35] michaelrice commented on #223
I do know there is no public facing vcenters that can be used for these kinds of tests. Thats what caused us to use vcrpy

It would be great to get vmware to put something online like the HOL stuff where something like travis-ci or drone.io or jenkins could send some event to spin up a new VCSA in simulator mode so you could run an integration test suite.

[2015-03-04 21:53] strongliang opened #224 "QueryChangedDiskAreas raises InvalidArgument inappropriately"
from to 5.5 doc:
"Start Offset in bytes at which to start computing changes. Typically, callers will make multiple calls to this function, starting with startOffset 0 and then examine the "length" property in the returned DiskChangeInfo structure, repeatedly calling queryChangedDiskAreas until a map forthe entire virtual disk has been obtained. "

the trouble is, with the returned length from the

[2015-03-06 14:30] reedog117 commented on #223
I asked the same question on [Reddit](http://www.reddit.com/r/vmware/comments/2xwxuw/recommendations_for_vsphere_web_services_sdk/) and was pointed towards the [VCSIM](http://www.virtuallyghetto.com/tag/vcsim) capability that is actually baked into vCenter. Time-permitting I may cobble together a project that automatically spins one of them up in a vSphere environment.

[2015-03-06 15:34] michaelrice commented on #223
@reedog117 Thats what I use. I have a simple script for 5.5 I use in Fusion to spin them up and down.

[2015-03-10 20:37] aleks81R opened #225 "I have a problem with urllib3"
Python 3.4 64, Windows Server 2012 R2.

When i Run the command:
C:\Python34\Scripts\pyvmomi\sample>C:\Python34\python.exe getallvms.py -s 'host' -u 'user' -p 'password'

The program gives an error:

Traceback (most recent call last):
  File "C:\Python34\lib\site-packages\requests\packages\urllib3\connectionpool.p
y", line 544, in urlopen
    body=body, headers=headers)
  File "C:\Python34\lib\site

[2015-03-11 13:58] soumyakolb opened #226 "I want to migrate a VMKernel port from VSS to VDS, but facing issues."
Function written for the same is:
[code]
On execution it gives PortKey error. What could be done?
Also which APIs can be useful for performing this.

[2015-03-11 19:33] hartsock commented on #223
@reedog117 I did start in on [pyVIT](https://github.com/hartsock/pyvmomi-integration-tests) but it's just a sketch. I have limited bandwidth and there was limited interest at the time. The use of `VCSIM` is a fairly good option if you have the right hosting environment. The `vcrpy` option is limited but extremely light weight and portable... *however* it is a bit brittle. That is, you can't alter

[2015-03-11 19:33] #223 closed

[2015-03-16 09:42] #226 closed

[2015-03-19 18:38] joshk0 commented on #179
+1, might hack on this soon. (Hey! I'm alive!)

[2015-03-20 11:04] Mechazawa commented on #212
Wouldn't the simplest fix be just adding a parameter for simply disabling ssl verification. Since [requests is being used][1] it would be extremely simple to [disable SSL verification][2].

I'm willing to pick this one up if it's alright with @hartsock and @dnaeon.

[1]: https://github.com/vmware/pyvmomi/blob/0f0c96bf614b22cb284ccc327180fe5a79e21173/pyVim/connect.py#L35-L36
[2]: http://docs.python

[2015-03-20 11:12] pdellaert commented on #212
I already do this myself allowing a parameter to my scripts to be passed, disabling SSL verification:
[code]

I think it's important to allow for SSL verification and enable it as a standard... Just for security awareness.

It would be nice to see this in the SmartConnect method as a parameter with a default to verify the certificate.

[2015-03-20 11:23] Mechazawa commented on #212
Something like a parameter called `unsafe_ssl` would be perfect. It could also write a warning to `sys.stderr` to make sure the developer is notified that their code is running in an unsafe state. Monkeypatching the SSL module would not really be needed unless the project is using another library for HTTP.

[2015-03-23 16:42] mekalag commented on #132
Hi,

I have used ReconfigVM_Task(spec=spec), when I click on VM and select Edit settings, I see new hard disk added.

But in Disk management this Hard disk size shows unallocated. How do i create new volume in the machine , say E drive.

which function to call in PyVmomi. Kindly suggest

[2015-03-23 16:51] purple4reina commented on #132
PyVmomi can extend the size of the disk, but the OS will not yet recognize it. You will need to make a separate call to do that.

[2015-03-23 17:50] mekalag commented on #132
Thank you.
I wanted to know if there are any PyVmomi functions to do extend size of the disk on the machine.
Was looking for any functions which could reflect the new drive on VM.

[2015-03-23 18:05] michaelrice commented on #132
The process is not the same on all supported platforms. You could use the GuestOperations to log into the VM and issue the command needed for the given platform..

[2015-03-25 06:58] shilpa4 commented on #27
i also have same problem can some one help me  to change the persistence of a disk using pyVmomi Sdk...

[2015-03-26 17:39] mpietrek opened #227 "'NoneType' object has no attribute 'objects' in StubAdapterAccessorMixin.InvokeAccessor"
It looks like code in InvokeAccessor isn't checking that RetrievePropertiesEx returned something non-None 'result" before trying to use it:

[code]

Here's the call stack, FWIW:

[...calling code...]
    hostinfo['health_status'] = hostMor.overallStatus
  File "/usr/lib/python2.7/dist-packages/pyVmomi/VmomiSupport.py", line 560, in **call**
    return self.f(_args, *_kwargs)
  File "/usr/lib/pytho

[2015-03-27 06:49] nmadhok opened #228 "Cluster names containing spaces are not returned"
##### Here's what I'm doing:
[code]

##### Output Received:
[code]

##### Expected Output:
[code]

As you can see that I did not get back the following clusters that contained space in their name:
[code]

##### Versions:
Running vCenter Server 5.5
[code]
[code]

[2015-03-27 16:51] purple4reina commented on #228
To get all cluster names I use CreateContainerView and it works fine.

    objView = si.content.viewManager.CreateContainerView(
         si.content.rootFolder, [pyVmomi.vim.ClusterComputeResource], True
    )
    clusters = objView.view
    objView.Destroy()

[2015-03-27 16:53] hartsock commented on #228
So, can you make a recording of your HTTP transactions and post some of those messages for us? Here's how you set up a python script to [record](https://github.com/vmware/pyvmomi-community-samples/blob/master/samples/hello_world_vcenter_with_yaml_recorder.py#L80) its HTTP conversations to a YAML file. This can be very helpful in diagnosing whether the trouble occurs in our XML parser or in vCenter

[2015-03-27 17:09] rreubenur commented on #228
There is a bug in your code ! Put the clusters list inside the for loop.

[code]

[2015-03-28 06:17] nmadhok commented on #228
@rreubenur I don't know how that bug is related to the space issue but actually space in the cluster name is the issue. I wanted the complete list of clusters that's why I'm not resetting ``cluster = []`` for every datacenter.

[2015-03-28 06:18] nmadhok commented on #228
@purple4reina Thanks for the example. I will try it and see if it works better.

[2015-03-28 06:19] nmadhok commented on #228
@hartsock Thanks for letting me know how to record the HTTP transactions. I will soon record them and post it on this issue.

[2015-03-30 12:54] dnaeon opened #229 "ClusterComputeResource.GetResourceUsage() support?"
With vSphere 6.0 there is a new method for `ClusterComputeResource` managed entities called `GetResourceUsage()`, which is currently not in available in the latest pyVmomi release.

 - http://pubs.vmware.com/vsphere-60/index.jsp#com.vmware.wssdk.apiref.doc/vim.ClusterComputeResource.html#getResourceUsage

What is the plan for adding this to pyVmomi and the overall status of pyVmomi support for vSp

[2015-03-30 13:01] retooth opened #230 "Get complete task history"
Hi,

is there a method to access the **complete** task history? I've only seen the _recentTask_-Property on [TaskManager](https://github.com/vmware/pyvmomi/blob/master/docs/vim/TaskManager.rst) and [ManagedEntity](https://github.com/vmware/pyvmomi/blob/master/docs/vim/ManagedEntity.rst) which doesn't cover completed tasks that are older than 10 minutes.

All the best,
retooth

[2015-03-31 07:12] Udayan12167 opened #231 "vSphere 6 support."
I would like to use pyvmomi with vsphere 6 but it only supports till api version 5.5 when is a version for 6 coming out?

[2015-03-31 13:39] hartsock commented on #231
At the moment I'm working on this on a volunteer basis so it's best effort. I was hoping for 2 releases this year with the second release containing 6.0 support. The second release I was hoping to be able to assemble by the end of July 2015... but I can't control my velocity because I can't tell when other projects are going to require my attention.

[2015-03-31 15:39] Udayan12167 commented on #231
Is it possible to run pyVmomi 5.5 with esx6?

[2015-03-31 17:21] mathieu182 opened #232 "UnmountToolsInstaller does not return until a humain answer the VM"
Hiya,

I'm trying to mount and unmount vmtools using:

MountToolsInstaller()
UnmountToolsInstaller()

However I've sometimes a VM question to answer, right after the UnmountToolsInstaller() call, like this one:
"The guest operating system has locked the CD-ROM door and is probably using the CD-ROM, which can prevent the guest from recognizing media changes. If possible, eject the CD-ROM from insid

[2015-03-31 17:31] michaelrice commented on #231
@Udayan12167  I have not tested it but it should work fine. You wouldnt be able to use any of the new 6.0 MO or methods or properties, but it should be backwards compatible.

[2015-03-31 17:32] michaelrice commented on #231
@hartsock Is it possible to get the tool that creates ServerObjects.py open sourced?Or even to have it published as closed source by VMWare?

[2015-03-31 17:48] michaelrice commented on #232
@mathieu182 what version of vSphere are you using where it hangs waiting for the question? Also not sure if it matters but what version of container hardware do you have selected for the VM?

[2015-04-01 00:37] strongliang commented on #231
I tested a VM backup app written with v5.5 on a VM on ESX6 and it worked. So at least it works to some extent.

[2015-04-01 05:23] dnaeon commented on #229
Closing this one as vSphere 6.0 support is being discussed in issue #231

[2015-04-01 05:23] #229 closed

[2015-04-01 06:26] Udayan12167 commented on #231
Hey Thank you guys i think this solves my problem. :)

[2015-04-01 07:22] mathieu182 commented on #232
Hello,
I'm using vSphere version 5.1.0. About your second question, I'm not sure I've correctly understood. The storage is a RAID 1 disk with HP SAS, partition VMFS5

[2015-04-01 18:49] hartsock commented on #231
@michaelrice I will ask around again, but it was rather unlikely last time.

[2015-04-01 18:59] michaelrice commented on #231
@hartsock I think with out it, it makes this vsphere 6 support issue hard to add the "help wanted" tag to because it means someone has to hand edit that server objects file which could end up being problem ridden because of the syntax. I guess some of that could be handled with tests, but the tool would be most ideal. Ill cross my fingers and hope for the best. :four_leaf_clover:

[2015-04-01 19:15] michaelrice opened #233 "Create some way to painlessly create a ManagedObject by using its MORef"
Create some way to painlessly create a ManagedObject by using its MORef.

Right now the way to do this is [convoluted](http://www.errr-online.com/index.php/2014/10/12/using-the-managed-object-id-to-create-objects-with-pyvmomi/).

Some ideas from irc were:

    vim.Datacenter('vim.Datacenter:datacenter-33')
    MoUtil.create_mo('vim.Datacenter:datacenter-33')
    vim.Datacenter.create('datacenter-3

[2015-04-01 19:17] hartsock commented on #233
Sticking this out on 2015.2 ... I figure what ever is merged or near merged can get cut as part of 2015.1 which we'll try and push in June. Then we can put any 6.0 and enhancement stuff in .2 for July/August ...

[2015-04-02 00:54] jm66 commented on #232
@mathieu182 UnmountToolsInstaller() on vSphere v5.5 waits as well until the question is answered. I had to pull the question from vim.VirtualMachine.runtime.question and answer it. Pretty sure it is the way the vSphere API is designed.

[2015-04-02 08:02] retooth commented on #233
As far as I understand, managed objects already have a _moId. Wouldn't it be easier to expose this property as in:

[code]

and getting objects by id with

[code]

It would be a lot more intuitive and would purge inconsistency in naming (such as the id being named task key for tasks)

[2015-04-03 07:10] favoretti opened #234 "Implement something in lines of VIjava's InventoryNavigator"
In vijava lib, there's a very handy class, called `InventoryNavigator`.

Basically, it allows you to search managed entities by type and returns a properly casted object.

     InventoryNavigator(self.rootFolder).searchManagedEntity("DistributedVirtualPortgroup", name)

It would be great if pyvmomi provided something like this as well.

[2015-04-03 18:34] michaelrice commented on #234
If we do this make sure not to forget to look in the [samples/tools/serviceutil.py](https://github.com/vmware/pyvmomi-community-samples/blob/master/samples/tools/serviceutil.py#L25) as someone has already submitted the traversal spec part of this. In vijava the inventory navigator [uses] (https://github.com/michaelrice/yavijava/blob/gradle/src/main/java/com/vmware/vim25/mo/InventoryNavigator.java#

[2015-04-07 11:15] nmadhok opened #235 "Certificate verify traceback when trying to connect to vcenter using SmartConnect() on Mac OS X Yosemite with python 2.7"
Getting a traceback when trying to connect to vcenter using ``SmartConnect()`` on Mac OS X Yosemite using python 2.7.

[code]

[code]

[code]
[code]
[code]

[2015-04-07 11:27] michaelrice commented on #235
Isn't that a duplicate of this: https://github.com/vmware/pyvmomi/issues/212
?
On Apr 7, 2015 6:15 AM, "Nitin Madhok" <notifications@github.com> wrote:

[2015-04-07 13:23] nmadhok commented on #235
@michaelrice Not sure if you would call this a duplicate. This is more an issue and less of an enhancement. It shows the traceback and quits without connecting. Also, this issue has information that #212 doesn't have.

[2015-04-07 14:19] rreubenur commented on #235
@nmadhok  do yo have https_proxy enabled ?

[2015-04-08 21:40] RenoRainz commented on #33
Hi,

Thanks you for the tip :-)

I have little issue, I create a NIC attached to a virtual distributed switch, but once the VM is created and started, the NIC on VM is not connected, I can edit setting and just click to connect it.

      for key, ip in enumerate(ip_settings):

        nic = vim.vm.device.VirtualDeviceSpec()
        nic.operation = vim.vm.device.VirtualDeviceSpec.Operation.add  #

[2015-04-09 09:41] RenoRainz commented on #33
I figured it out, it seems the NIC customization cause this.

[2015-04-10 15:03] MikeTuffy opened #236 "HTTPSConnectionWrapper significantly slower than earlier release"
The problem seems to have been introduced with these changes:
https://github.com/vmware/pyvmomi/commit/cd533499cb625181b159e6f67c295c40d2fdd1c4#diff-faa1bbfa2580c5ef3623c9794ba2a6ee

I noticed that the changes had made it significantly slower, it appears that the current code is not reusing the connection.

As a workaround, for my usage, I changed the HTTPSConnectionWrapper to be much closer to an

[2015-04-10 22:07] nmadhok commented on #235
@rreubenur Not sure. Quick way to check that?

[2015-04-14 16:12] jm66 commented on #235
Same issue here.
[code]

[2015-04-14 17:26] Aayush-Kasurde commented on #71
@hartsock I guess this issue is addressed, could you please confirm and close this ?

[2015-04-14 19:28] hartsock commented on #71
Looks like it's okay. Thanks for pinging me on this.

[2015-04-14 19:28] #71 closed

[2015-04-14 19:29] hartsock commented on #235
Okay, this is going to have to be one of the first things I work on as soon as I can circle back to pyVmomi work.

[2015-04-14 21:58] nmadhok commented on #235
@hartsock Thanks!

[2015-04-19 17:40] #228 closed

[2015-04-20 01:43] parthgala commented on #194
@inevu Which Python version are you using? There is a bug in Python 2.6 or earlier where in sockets aren't getting closed properly (http://bugs.python.org/issue10127)

[2015-04-20 11:26] Udayan12167 opened #238 "Register a VASA provider programatically."
I have to design an automation test suite to test the VASA provider. Is there a way to register the vasa provider on the vcenter through some program or script?

[2015-04-21 01:51] hartsock commented on #238
I don't know of any [sample](https://github.com/vmware/pyvmomi-community-samples) that currently covers this. I'll ask around.

[2015-04-21 01:52] hartsock commented on #228
@nmadhok I assume that this turned out well?

[2015-04-21 01:54] hartsock commented on #236
@MikeTuffy thanks for putting in all the work to nail this down. If your patch works well in test and doesn't disable fixtures I will be more than happy to merge it. We definitely want the library to be as efficient as possible without breaking anything.

[2015-04-21 02:01] nmadhok commented on #228
@hartsock I did it another way. Couldn't figure out what was wrong in this way.

[2015-04-23 07:56] sduehr opened #239 "UnboundLocalError: local variable 'obj' referenced before assignment in SoapAdapter.py when using VimSessionOrientedStub"
When using VimSessionOrientedStub like this:
import pyVmomi
from pyVmomi import vim
from pyVmomi import vmodl
from pyVim.connect import SmartConnect, Disconnect
from pyVmomi import vmodl
from pyVmomi import SoapStubAdapter
from pyVim.connect import VimSessionOrientedStub
soapStub = SoapStubAdapter(host=args.host, ns="vim25/5.5")
sessionStub = VimSessionOrientedStub(soapStub,
   VimSessionOrientedS

[2015-04-23 11:19] MikeTuffy commented on #236
No problem, let me know if you need me to test anything related to this.

[2015-04-23 15:56] nlamirault commented on #194
Any status for this bug ?

[2015-04-24 16:29] fpaillot commented on #213
Hi,
I have so code that works well with create.

Be careful, StoragePlacementSpec, need a host object...

storageSpec = vim.storageDrs.StoragePlacementSpec(type='create',
                                                    configSpec = config_sdrs,
                                                    resourcePool = resource_pool,
                                                    host = target_hos

[2015-04-28 21:07] nmadhok opened #240 "No docs or examples to show how to remove a host"
There is no docs available on how to remove a host from a Cluster. There is a function AddHost but no function for removing the host.

[2015-04-28 21:11] michaelrice commented on #240
With the hostsystem you can do a destroy task on it.
On Apr 28, 2015 4:07 PM, "Nitin Madhok" <notifications@github.com> wrote:

[2015-04-28 21:26] nmadhok commented on #240
Is destroy task the same as doing a remove Host task from the vcenter UI?

[2015-04-28 21:32] michaelrice commented on #240
To find out exactly what happens when you do that in the UI I would suggest
using onyx to see for sure.

I have some code that does all this I can share when I get home later
tonight.
On Apr 28, 2015 4:26 PM, "Nitin Madhok" <notifications@github.com> wrote:

[2015-04-28 23:53] joshk0 commented on #179
@hartsock, would it be appropriate to plumb the setting to enable SSL verification in SmartConnect, and then let the warnings continue to show if you pass false?

[2015-04-29 00:22] joshk0 commented on #64
Is there any particular thing that we have to keep in mind for the conversion?

It seems like as long as InvokeMethod continues to work, there's no reason why the whole HTTPSConnectionWrapper et al. can't just be completely blown away because requests handles it all transparently.

I'd like to take a stab at this too.

[2015-04-29 14:31] michaelrice commented on #240
Hi @nmadhok this is groovy code that uses [yavijava](https://github.com/michaelrice/yavijava) but here is how I do it: https://gist.github.com/michaelrice/1ed5f2d8c352cf14c996

[2015-04-29 17:10] jm66 opened #241 "Snapshot storage size"
Hi,

I've been trying to get the used storage of each snapshot taken in certain VM, however, I haven't had much success on this. So far, I cannot find where are the 'delta' disks and because of this missing piece, the Snapshot size (memory + delta disks) is not as accurate as presented in the vSphere web client :

`vm.snapshot` > provides snapshots on this VM
`vm.layout.snapshot`  > provides relat

[2015-04-30 05:27] nmadhok commented on #240
@michaelrice Thanks for the code snippet!

[2015-04-30 05:27] #240 closed

[2015-05-05 22:51] strongliang opened #242 "VDDK 6.0 installer"
Hi, an indirectly related question: has anyone installed VDDK 6.0? It doesn't come with an installer for the linux version. I'm wondering if someone knows how to properly install it.

[2015-05-06 16:33] nmadhok opened #243 "If open-vm-tools installed on VM/template, editing a network device will not connect to it at power on"
Trying to edit a network adapter of a VM when cloning it from a template.

If VMware tools is installed, it edits and connects after power on successfully but if open-vm-tools is installed instead, it will edit the network adapter successfully but it will not connect to it at power on automatically. I have to manually check "Connect at power on" from the client which for some reason was unchecked

[2015-05-06 22:56] nmadhok commented on #243
@hartsock I don't know what the labels ``needs verification`` and ``help_wanted`` mean. Can you please let me know what they mean and what information you need from my end?

[2015-05-07 05:27] michaelrice commented on #243
@nmadhok normally what the ```needs verification``` means is we need to verify this on our end. That might happen with raw soap calls or maybe using another lib, or maybe even checking bug reports on open-vm-tools for example. The ```help wanted``` badge means help doing these things, and or providing the fix would be greatly appreciated.

[2015-05-14 04:57] amitdash commented on #179
I have used below code just above pyVmomi import

import requests
requests.packages.urllib3.disable_warnings()
import ssl
try:
	_create_unverified_https_context = ssl._create_unverified_context
except AttributeError:
    pass
else:
    # Handle target environment that doesn't support HTTPS verification
    ssl._create_default_https_context = _create_unverified_https_context

[2015-05-14 09:28] JigarBhatt03 opened #244 "ipv6 connect to ESXi"
I am trying to  connect to the esx host using the ipv6 address in connect.smartconnect() but was unable to do and got below error

requests.exceptions.InvalidURL: Failed to parse: xxxx:x:xxx:xxxx::xxx:xxx

[2015-05-14 22:15] hartsock commented on #244
I would like this verified with a unit test. If we can verify it, I would classify this high priority to fix ASAP. There's no special tools needed here, so anyone could make a patch for this.

[2015-05-15 05:01] JigarBhatt03 commented on #244
I went through the code and got the patch for it. We need to add square bracket [] in the url having ipv6 in method  __GetServiceVersionDescription(protocol, server, port, path) in connect.py at line no 433.

 url = "%s://[%s]:%s/%s/vimServiceVersions.xml" % (protocol, server, port, path)

But adding [] in url will create issue for ipv4. So we need to parse the ip and then set the url based on it.

[2015-05-15 06:22] michaelrice commented on #244
seems like a simple

[code]

[2015-05-15 07:42] blackms opened #245 "Can't add vm to VmGroup"
Hello, I'm trying to add Vm to a VmGroup in this way:

    def add_vm_to_vm_group(self, vm, cluster):
        # check if VmGroup Exists
        windows_group = filter(lambda x: x.name == 'Windows',
                               filter(lambda x: x.__class__.__name__ == 'vim.cluster.VmGroup',
                                      cluster.configurationEx.group)
                               )

[2015-05-15 08:37] michaelrice commented on #244
Actually that wouldnt work because simple hostnames would fail.. What about this though

[code]
I tried to write a test for this but Im an utter network failure and have no idea where to start to get ipv6 stuff

[2015-05-15 12:29] JigarBhatt03 commented on #244
Thanks for the workaroung michael (y)

[2015-05-15 12:29] #244 closed

[2015-05-17 19:04] lrhazi commented on #235
is there a work around for this? can one disable cert verify from user script?

[2015-05-17 19:11] nmadhok commented on #235
Here's the workaround:
[code]

[2015-05-17 20:33] michaelrice commented on #235
I think the subject of this report should be changed to drop the OSX bits, it might help describe this more generally. This is not specific to OSX in any way because it is being caused by the change to python 2.7.9 which was pointed out in #212. #212 probably shouldn't be labeled as an enhancement. Because of this change to 2.7.9 it really makes it feel more like a bug (one I still think should be

[2015-05-18 11:59] nlamirault commented on #194
Same behavior using Python 3.4

[2015-05-18 16:16] hartsock commented on #194
I'm setting aside time for this bug and the SSL bug in the next 2 weeks.

[2015-05-20 14:55] hartsock commented on #245
Try something like...
[code]

[2015-05-20 15:54] blackms commented on #245
Just to clarify, I'm trying to do this via API instead of vCenter:
http://i.imgur.com/MEzD6gM.png

[2015-05-20 16:03] hartsock commented on #245
Ah, I needed you to pull up your cluster ...

[code]

... yeah, reading more carefully. That's a good thing.

[2015-05-20 16:13] blackms commented on #245
Unfortunately not:
AttributeError: 'vim.cluster.VmGroup' object has no attribute 'resourcePool'

[2015-05-20 16:24] hartsock commented on #245
NOTE: cluster object, not cluster.VmGroup ... I'm saying that you should try to move the VM into the resource pool above the group and then let the DRS rules fire and place the VM into the VmGroup. (You don't actually place the VM in the group first.) I meant this as a work-around.

After troubleshooting in IRC here's what I'm thinking are the possibilities

* There's a hidden error state we're no

[2015-05-20 16:26] blackms commented on #245
As we wrote on IRC, I will try to compare the xml with the one generated by powershell or the one generated from official pyVmomi if it works.

[2015-05-21 00:44] jantman commented on #13
Just as a comment, if certificate verification is added, please make sure there's an option to disable it.

[2015-05-21 00:54] pontillo commented on #13
Actually, I would argue that (in order to maintain compatibility with previous versions) verification should be disabled by default. (not because I think not verifying certificates is a good idea in general, but because it would break API compatibility with previous revisions... and I expect that many people would not bother to configure trusted certificates for this purpose, since pyvmomi will us

[2015-05-21 14:21] blackms commented on #245
The problem was the VM passed.

[2015-05-21 14:21] #245 closed

[2015-05-21 14:45] hartsock commented on #245
Glad to see we got it figured out. How did you figure out that the VM was the problem? (That might be nice to document in case someone else finds this ticket and wants to figure things out for themselves.)

Note: This falls under "hidden error state we're not seeing" which was one of my guesses :smile:

[2015-05-21 14:48] hartsock commented on #13
I'll try and do a pull request for this shortly. My instinct is to add option flags to go with default = disabled through out the API. But, do something clever so that when in a "production" class environment we trip something and fall into enabled. Maybe a magic local environment variable for development?

We can discuss it in the pull request.

[2015-05-21 14:59] pcn commented on #13
I really think that a default option is the right way to go - eliminating surprise.  Sites/individuals can wrap that and make their own determination as to whether they want a prod/dev split in how certs are treated.  In most ops situations your sysadmins will be much happier if dev/stage/qa/test/ci/production all have the same behavior and the same flags enabled.

[2015-05-21 15:01] hartsock commented on #13
@pcn okay, we'll go with *easy* first.

[2015-05-22 23:11] EB123 opened #249 "using pyVmomi with django"
Hi,

I'm trying to use pyVmomi with django and i'd like to know what is best way (if there is any) the share the ServiceInstace between "views".

Anyone got any expirience with this issue?

Thanks

[2015-05-23 02:24] EB123 opened #250 "How to restore a serviceInstance session"
Let's say i've opened a python shell, imported the required functions and typed:
"si = SmartConnect(host,user,pwd,port)"
i am now connected.
now i typed:
"si = None"

my session still exists (i've checked "si.content.sessionManager.sessionList" from another connected session), is there any way i can "reconnect" to it?

[2015-05-23 18:45] hartsock commented on #250
See the [suds-to-pyvmomi.py](https://github.com/vmware/pyvmomi-community-samples/blob/master/samples/suds-to-pyvmomi.py) and [pyvmomi-to-suds.py](https://github.com/vmware/pyvmomi-community-samples/blob/master/samples/pyvmomi-to-suds.py) for examples on how to hack sessions.

The short answer is: build a new session cookie to connect to the correct session.

[2015-05-24 03:20] EB123 commented on #250
Thanks!

didn't do exactly like in those examples, but even though I still need to test it a little more it seems to be working fine:

770b1afe-d279-aa6f-3716-131afae6477a

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'NoneType' object has no attribute 'content'

770b1afe-d279-aa6f-3716-131afae6477a

is it pretty much what you meant?

[2015-05-25 20:45] suederat commented on #220
It could be you need to pass in a str(uuid) rather than an object. I saw this problem in template cloning when I passed in a datastore object. I replaced the parameter for clonespec.datastore with the uuid of the target datastore and the problem stopped happening. I did not change the other parameters from object to uuid for resource-pool etc, so it may require trial and error!

[2015-05-27 19:33] hartsock commented on #235
@michaelrice agreed. This will have to take priority over some of my other work.

[2015-05-27 19:37] hartsock commented on #212
See also [https://github.com/vmware/pyvmomi/issues/235], [https://github.com/vmware/pyvmomi/issues/179], [https://github.com/gevent/gevent/issues/477]

[2015-05-27 19:52] hartsock commented on #179
@amitdash this is the approach I'm going to combine with @joshk0's suggestion. The result will be pushed up for review shortly.

[2015-05-28 20:04] joshk0 commented on #179
Feel free to assign me on the PR. I can look it, just haven't had time to dig in on code.

[2015-06-01 13:24] jctanner commented on #236
+1
Confirmed that overwriting the SoapAdapter.py file from pyvomi 5.5.0.2014.1.1 with @MikeTuffy's, significantly increases the speed at which operations finish.

[2015-06-02 06:01] alans09 opened #253 "Running program in guest (guest operations)"
Hi,

 I'm looking for possibility of running program in guest using pyvmomi. Is this possible with current pyvmomi?
I'm looking for something like:
http://www.doublecloud.org/2012/02/run-program-in-guest-operating-system-on-vmware/

I can't find way how to authenticate myself and than run program.  All I got was guestOperationsManager and then I'm stuck.
vm.si.content.guestOperationsManager

Also

[2015-06-02 07:36] sasilevi opened #254 "pyvmomi vvols support"
Hi,

I would like to use pyvmomi in our automation infrastructure and i need the ability to add vvols data store.
Is there a branch that support vcenter 6.0 that i can start using?
Where can i find code samples for adding datastores?

Thanks,
Sasi

[2015-06-02 10:18] tsugliani commented on #253
Hi @alans09,

I wrote a pyvmomi sample here on that topic a few weeks ago: https://github.com/vmware/pyvmomi-community-samples/blob/master/samples/execute_program_in_vm.py

Hope this helps !

[2015-06-02 11:20] jantman opened #255 "readthedocs.org sphinx documentation broken"
It appears that the sphinx-generated documentation on readthedocs.org is broken (at least for the "latest" version because the links all point to ``.rst`` URLs instead of HTML.

I.e., on http://pyvmomi.readthedocs.org/en/stable/ the first link "vim.AboutInfo" points to http://pyvmomi.readthedocs.org/en/stable/vim/AboutInfo.rst which is 404; it should point to http://pyvmomi.readthedocs.org/en/stab

[2015-06-02 11:22] jantman commented on #255
Ok... just thought of something and looked around a bit. It looks like this project just _ins't_ configured for Sphinx documentation, but looks like the 'docs/' directory is just setup to be viewed on GitHub. This is improper for a Python package. I suppose this ticket should either be "please use Sphinx documentation" (ideally autodoc, which would've made doc generation a LOT easier for whoever w

[2015-06-02 14:47] joshk0 commented on #255
I maintain the readthedocs setup, so i'll grab this issue.

[2015-06-02 14:54] hartsock commented on #13
Note: see https://github.com/vmware/pyvmomi/pull/252 and https://github.com/vmware/pyvmomi/issues/212 which are related to this issue.

[2015-06-02 17:59] hartsock commented on #255
Thanks @joshk0 glad to know you're on it.

[2015-06-02 18:06] hartsock commented on #212
NOTE: I attempted to avoid the global monkey-patch solution but pyVmomi has a connection somewhere that still opens verified even when I make the unverified context explicitly. I've not had time to run down all the connection open and closes. I'll attempt to do this at some point late this week or early next week.

[2015-06-02 18:09] hartsock commented on #254
I'm soliciting VMware staff for help in creating a 6.0 branch from the master on this github repo.

[2015-06-02 18:14] hartsock commented on #239
* I believe this is a class of session management related bugs introduced by auto-reconnect features
* The normal session timeout is 30 minutes
  * to counter the timeout we often advise the use of a [KeepAlive thread](https://github.com/vmware/pyvmomi/issues/23)
* This is a general enhancement and usability issue in the vSphere API (IMHO) that I keep seeing pop up in long-running automations and

[2015-06-02 18:32] hartsock commented on #236
@MikeTuffy any shot at getting you to do this as a pull request?

[2015-06-02 18:39] jantman commented on #255
Thanks so much!

[2015-06-04 14:57] joshk0 commented on #255
Shawn and I just decided to just make the github docs canonical. I nuked the readthedocs project.

PS. @hartsock , I'm not marked as a contributor anymore. I can't close this issue. Help? :)

[2015-06-04 20:54] hartsock commented on #255
@joshk0 okee dokee

[2015-06-04 20:58] hartsock commented on #255
@joshk0 hmm... is this actually fixed if this ...
    http://pyvmomi.readthedocs.org/en/stable/#
... points to this ...
    http://pyvmomi.readthedocs.org/en/stable/vim/AboutInfo.rst

Do I have privileges to edit any of this or are you still owner @joshk0 ?

[2015-06-04 21:55] joshk0 commented on #255
I actually nuked the project, but for some reason their cache hasn't purged, and the domain still works. I was going to wait a day or two and check again.

It would be kind of lame if a html page linked to a raw rst file. I think the expectation is that the rst is converted to html, and that's linked from on the master page of objects.

[2015-06-04 22:42] jantman commented on #255
This is extremely unfortunate for me, but ok.

The best thing about RTD, or any sphinx-compliant documentation generator, is the intersphinx mapping - this allows one project to link module/class/function names directly to the source project's documentation. I was really hoping to be able to make use of that, as that's how we document our internal projects.

[2015-06-05 05:09] strongliang commented on #231
any update on this?

[2015-06-05 13:47] hartsock commented on #231
@strongliang we are still looking for support from VMware employees. Most folks are very busy right now and we're not able to get the free time we need to finish this part.

[2015-06-05 14:01] ningke commented on #231
@hartsock What exactly involved in porting to vSphere 6? A few weeks ago when I needed a vSphere6 only DataObject (VirtualVideoCard.graphicsMemorySizeInKB), I ended up "hacking" in the new field in ServerObjects. I still would like add a few more functionalities that I don't want to keep hacking. If someone knows the exact process to port, I might be able to help.

[2015-06-05 14:06] michaelrice commented on #231
@ningke that is the process.. you have to add all the new dataobject, faults, enums, managed objects, then update all the existing with new properties, then you also have to add the proper vim namespace so that it wouldnt have to be manually set in the connection.. Its a tedious process.

[2015-06-05 14:11] ningke commented on #231
@michaelrice Could we auto-generate the Data and Managed Object definition in ServerObjects.py by translating some kind of VMODL XML spec?

[2015-06-05 14:13] michaelrice commented on #231
@ningke https://github.com/vmware/pyvmomi/issues/231#issuecomment-88180170

VMWare has a tool that does it already.

[2015-06-05 14:22] ningke commented on #231
@michaelrice Cool. I am a VMware employee btw:)

[2015-06-05 14:23] michaelrice commented on #231
@ningke Awesome. Join forces with @hartsock and apply fierce amounts of peer pressure and get that tool open sourced ;)

[2015-06-05 16:16] hartsock commented on #255
@jantman the docs we have were specifically generated for the GitHub render engine which isn't sphinx. We did have someone looking at doing sphinx docs a while ago but I've not seen the pull request.

[2015-06-05 19:26] joshk0 commented on #255
I think i actually started it, then backed it out because i committed it to master accidentally. Can we repurpose this as a sphinx ticket? You can look at the old change and see how far i got back then.

[2015-06-05 19:47] jantman commented on #255
Ok. It would be nice, but I can't commit to doing it myself, so... thanks for at least taking the time to discuss it. If it gets done, wonderful, if not... oh well. I can always link our docs directly to the GitHub stuff, it's just not auto-updating like intersphinx.

[2015-06-05 20:03] joshk0 commented on #255
Cool.

BTW, looks like the docs have been purged from the site now.

[2015-06-08 20:45] hartsock commented on #255
Okay. @joshk0 do you think we could have someone here post new readthedocs pages (some day in the future) without having to get special permission from you?

[2015-06-08 20:45] #255 closed

[2015-06-08 22:00] joshk0 commented on #255
The project has been deleted, so anyone is free to create a new one with the same name, as far as I know.

[2015-06-09 17:19] hartsock commented on #255
@joshk0 thanks!

[2015-06-10 18:26] duffolonious commented on #212
This fixes it for me:

[code]

I'm assuming if none of the schemeArgs are set that we can use the unverified cert.

Has this problem already been solved somewhere (another branch or something)?  I'm using this because it's really annoying on Ubuntu Vivid (Python 2.7.9).  Python 2.7.9 is when this context argument was added https://docs.python.org/2/library/httplib.html#httplib.HTTPSConnection - so

[2015-06-10 18:41] Ctesias opened #256 "Network adapter modification not working"
Below is the code I think should be used to modify the network adapter IP of an ethernet adapter while cloning a VM from a template.  It doesn't work, the VM clones but the network adapter is not modified.  I only seem to be finding examples that assume there are no adapters at all and creating new ones.  I could use some help figuring out what I'm doing wrong:

def clone_vm(
        content, temp

[2015-06-12 00:44] stunes opened #257 "XML serialization for certain types is broken on Python 3"
XML serialization does not work for certain types on Python 3. This is best illustrated by example:

On Python 2.7:

    '<object xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:vim25" xsi:type="VirtualDeviceConfigSpecFileOperation"></object>'

    False

    'replace'

On Python 3.4:

    Traceback (most recent call last):
      File "

[2015-06-12 14:30] bechampion opened #258 "apply host profile"
Hey guys ,  any example of applying host profiles (specifically enabling services on a host).

Thanks!!

[2015-06-12 19:29] ocsphere opened #259 "yazacağınız kodun amk"
https://www.youtube.com/watch?v=WPPE-IIEFfs

[2015-06-12 19:30] ocsphere commented on #259
this is the great lib: https://github.com/argos83/pysphere

you are bitches!!!

[2015-06-12 19:30] ocsphere commented on #259
fuck off

[2015-06-12 19:30] #259 closed

[2015-06-16 18:08] EB123 opened #260 "MAC address changes when editing a network adapter"
Hi,
I'm trying to edit a network adapter in order to change to portGroup it's assigned to, but for some reason everytime i'm doing this it also changes the MAC address of this adapter.
Am i doing anything wrong?

This is the code i'm using (dev is the device i'm changing):
[code]

[2015-06-16 18:10] jm66 commented on #260
Hi, I've seen this. Try not creating a new device, just make refer to the existent device.
[code]

[2015-06-16 20:28] EB123 commented on #260
Seems to be working, Thanks!!

Any chance you can explain why it changed the mac address? I mean, it didnt add a new adapter, just edited the existing one, but still it caused a conflict (i assume) that caused the mac address to be changed.

[2015-06-17 12:14] hartsock commented on #212
@duffolonious thanks for the targeted patch! Do you think you could submit that as a pull request so we could discuss it?

[2015-06-17 13:46] Ctesias opened #261 "Cloning windows vm from template + adding apater doesn't update network settings"
My code is posted below.  I can get the windows VM to clone, the template doesn't have any network adapters in it.  I can get a network adapter added, it shows up when the new clone boots, but it's set to "get an IP address automatically" instead of getting the IP information I've asked it to be cloned with.  I've tried playing with all the settings that I can find, I could use an assist on why th

[2015-06-17 14:51] jm66 commented on #260
No problem. Yeah, what's actually happening is that you replacing an existing device with ```vim.vm.device.VirtualDeviceSpec() ```so it obtains the new mac address.

[2015-06-17 14:51] jm66 commented on #261
Take a look here [https://github.com/vmware/pyvmomi/issues/260]

[2015-06-17 14:55] jm66 commented on #261
I've seen that. What I did to solve this is reconfigure the VM after cloning with a new ```vim.vm.ConfigSpec()```

[2015-06-17 15:37] duffolonious commented on #212
@hartsock sure, I'll get something together later today I think.

[2015-06-18 18:37] Ctesias commented on #261
I'm not seeing a good example of changing an adapters IP address, can I get
a hint at how I tie a vim.vm.customization.AdapterMapping to a configspec?
I don't see anything obvious in the docs to explain where I'd put that.

Thanks.

On Wed, Jun 17, 2015 at 10:55 AM, Jose Manuel <notifications@github.com>
wrote:

[2015-06-18 19:11] netmason commented on #194
May I inquire whether there are updates on this bug?   Thanks.

[2015-06-19 20:19] EB123 commented on #260
oh i c... ok, thanks for the explanation.

[2015-06-19 20:19] #260 closed

[2015-06-22 06:58] satish-calsoft opened #263 "how to get used space from thin provisioned disk"

[2015-06-22 14:07] jm66 commented on #263
Committed or Unshared storage is the Disk property you are looking for.

[2015-06-22 16:26] hartsock commented on #212
Thanks to @duffolonious, I think @parthgala  should look at the patch submitted [here](https://github.com/vmware/pyvmomi/pull/262).

@parthgala how is your progress coming along on this issue?

[2015-06-22 16:40] EB123 opened #264 "Can I access the log file of a virtual machine (vmware.log) from the API?"
Hi,

I am trying to create some script that will be able to monitor if a specific error appeared at the virtual machine log file (vmware.log). if to be more specific, i am trying to catch the "Lost connectivity to SVM" error. As far as I know there is now event/alarm associated with this error.

Is there a way i can access the virtual machine log file from the API, maybe something similar to the D

[2015-06-22 21:06] afengg opened #265 "Is there any way to get a reference to a newly cloned VM?"
Is there a way to, say, have the clone function return the newly created VM (or at least properties like the Uuid)? I see that the clone function, as it is, doesn't do this, so the only way would be to find it from scratch. Is using a property collector after the cloning is done the fastest way to do this? Thanks.

[2015-06-22 21:16] michaelrice commented on #265
When you do a clone vm task:

    This method returns a Task object with which to monitor the operation.
    The info.result property in the Task contains the newly added VirtualMachine upon success.

[2015-06-22 21:24] afengg commented on #265
Thanks @michaelrice !

[2015-06-22 21:24] #265 closed

[2015-06-25 13:31] nlamirault commented on #194
Any news ?

[2015-06-25 18:08] suederat opened #266 "migrate host nic to dvs whilst in use as management interface"
Following code works ok for data-plane/compute, but not for mgmt vmnic0. Ive tried wrapping in context to enter/exit maintenance mode, since i am clutching at straws I could use some input.

What needs to change or is it even possible to automate migration of mgr nics to dvs. I keep seeing exception:

    def add_hosts_to_dvs(self, dvs, hostnic_map, oper='add'):
        """Adds hosts to the Distri

[2015-06-28 21:07] grzn commented on #231
VMware has several forks of pyVmomi, and the one inside the VCSA has all the VC6.0 data and managed objects (along with some internal data objects that were not included in this open-source branch until now).

Looking at the diff between VCSA5.5u2 and VCSA6.0, it shouldn't take much work to update the data objects. Its a shame that VMware has the tools to generate these files (and has them inside

[2015-06-30 20:49] hartsock commented on #35
@cameronsparr I'm assigned to a new project right now and I'm on a critical path so I've not had much time the last few months to donate to pyVmomi. I am expecting @parthgala to start making contributions in these directions as he's coming up to speed on the project.

[2015-06-30 20:51] hartsock commented on #231
Hey folks. I'm currently heads down on a critical path of a different project so I've not had much time to donate to pyVmomi. I'm expecting to start seeing work from @parthgala to address these concerns as he's coming up to speed on the project.

[2015-07-01 07:34] eliuha opened #267 "InsecurePlatformWarning"
pip install --upgrade pyvmomi

ssl_.py:90: InsecurePlatformWarning: A true SSLContext object is not available. This prevents urllib3 from configuring SSL appropriately and may cause certain SSL connections to fail. For more information, see https://urllib3.readthedocs.org/en/latest/security.html#insecureplatformwarning.
  InsecurePlatformWarning
  Could not find a version that satisfies the requir

[2015-07-02 17:51] srimandaleeka opened #268 "QueryEvents in EventsManager unsupported ?"
Hello Team members !

I want to detect Events  for a particular VM and host , so my python code does the following :
Once I have the VM MOREF , I do the following:
# Step1 : Create a EventFilterSpecByEntity

[code]
# Step2 :Event Spec Filter

[code]
# Step3: QueryEvents

[code]

Any ideas if QueryEvents in EventsManager is implemented and supported to start off with ?

I get the following errors :

[2015-07-10 03:23] spwangbit opened #269 "connet vmware 6.0 issue"
This version to connect exsi6.0 will get this.
 ('Connection aborted.', error(111, 'Connection refused'))
Can any one help?

[2015-07-10 22:05] leroux commented on #21
+1

[2015-07-14 05:36] shbalu07 commented on #8
Hi All,

I am seeing the below issue when trying to do vm migration from one node to another one.
Always it is throwing the below error, any body have a clue?

        vm_relocate_spec = vim.vm.RelocateSpec()
        vm_relocate_spec.host = destination_host
        vm_relocate_spec.pool = resource_pool
        datastores = destination_host.datastore
        print datastores
        #Assuming Migra

[2015-07-14 05:44] shbalu07 opened #271 "VM Migration"
Hi All,

I am seeing the below issue when trying to do vm migration from one node to another one.
Always it is throwing the below error, any body have a clue?

    vm_relocate_spec = vim.vm.RelocateSpec()
    vm_relocate_spec.host = destination_host
    vm_relocate_spec.pool = resource_pool
    datastores = destination_host.datastore
    print datastores
    #Assuming Migrating between local datas

[2015-07-14 17:01] EB123 commented on #271
I'm not sure what is wrong with your code, but this is how i'm doing vMotions (not using relocateSpec):

[code]

[2015-07-14 19:51] shbalu07 commented on #271
Thanks a lot for the reply, I am trying to do "change both host and datastore" and the code you mentioned above is for chnaging only the host.

[2015-07-14 23:39] shbalu07 commented on #180
I have borh VC and ESXI at 5.5, but hitting the below issue while doing migration of vm from Host A to Host B.

Caught vmodl fault: (vmodl.fault.InvalidArgument) {
   dynamicType = <unset>,
   dynamicProperty = (vmodl.DynamicProperty) [],
   msg = 'A specified parameter was not correct. \n',
   faultCause = <unset>,
   faultMessage = (vmodl.LocalizableMessage) [],
   invalidProperty = <unset>
}

C

[2015-07-15 06:52] PujaVerma commented on #261
I am facing a similar issue where the static IP I provide during the clone process isn't getting set. While looking for this issue online, I found this -

"In order for some Windows OS to join the domain during using Sysprep a DHCP IP address must assigned during the customization process. This is despite the fact you may assigned a static IP address with the Guest Customization Specification – ma

[2015-07-15 17:31] matburt commented on #243
I can confirm that I'm experiencing the same issue.  Would definitely prefer to be able to use open-vm-tools instead of vmware tools

[2015-07-16 13:40] retooth opened #272 "Wrong information in task.info.result on cloning configuration error."
Hi,

If the spec.identity.hostname configuration fails in a cloning process, the task correctly stops with state error, but the task.info.result property is set to None, although a machine was copied and is in the vm list.

task.info.result should point to the misconfigured machine.

To reproduce you could take [snobears snippet](https://gist.github.com/snobear/8788977) and set the hostname on the

[2015-07-17 22:25] ek-sp opened #273 "pyVmomi, to clone a VM, how to CreateFolder"
I need to create the folder vm_name and get the object for the 1st argument in CloneVM_Task()
destfolder = vm.parent.CreateFolder(vm_name)  # wrong
task = template.CloneVM_Task(folder=destfolder, name=vm_name, spec=clonespec)
can someone clarify how to create the destfolder object from a folder to be created to hold the new VM?

[2015-07-18 00:08] ek-sp commented on #273
I see in the clone_vm examples destfolder = datacenter.vmFolder
but my datacenter is None

[2015-07-21 14:41] rossend opened #274 "RefreshDatastoreStorageInfo don't work."
Hi,

I don't know because when I launch RefreshDatastoreStorageInfo the timestamp is not refresh-it but if I refresh datastores ussing Vmware Vsphere Client, the values are updated and the timestamp change.

Attach a bit of my code.

        for esxi_host in esxi_hosts:

            # All Filesystems on ESXi host
            storage_system = esxi_host.configManager.datastoreSystem
            host

[2015-07-21 16:08] #274 closed

[2015-07-21 16:08] rossend commented on #274
I solved the problem. Only change host_mount_info.RefreshDatastoreStorageInfo for host_mount_info.RefreshDatastoreStorageInfo()

[2015-07-22 07:24] dnaeon commented on #269
Current pyVmomi release should be able to authenticate and connect to a vSphere 6.0 host as well.

What's your version of Python and pyVmomi that you are using?

[2015-07-22 10:31] alans09 commented on #253
Thank you, this was helpful.. closing this 'problem'

[2015-07-22 10:31] #253 closed

[2015-07-22 10:46] alans09 opened #275 "Getting information about system"
Hi, I'm facing some problems again.
I have something like this (part of bigger class):

    self.template = self._find_vm(self.si, name)  [instance of vim.VirtualMachine]
    timeout = 60
    l_timeout = 0
    while l_timeout <= 0:
        guest_operations = self.template.guest.guestOperationsReady
        vmtools = self.template.guestHeartbeatStatus
        if not guest_operations and vmtools ==

[2015-07-23 15:05] hankerepo commented on #243
Is there a suggest work around?

[2015-07-24 07:20] wz200210 commented on #158
HI wiggin15
is there any sample for the workaround that you mentioned, it will help me a lot!!

[2015-07-24 13:28] wiggin15 commented on #158
Hi @wz200210. We're using infi.pyvmomi_wrapper (https://github.com/Infinidat/infi.pyvmomi_wrapper). We implemented a replacement for `Connect` here: https://github.com/Infinidat/infi.pyvmomi_wrapper/blob/develop/src/infi/pyvmomi_wrapper/connect.py
You can use the wrapper class, `infi.pyvmomi_wrapper.Client`. The login is optional - you can use it like this:

    from infi.pyvmomi_wrapper import Cl

[2015-07-27 03:22] wz200210 commented on #158
@wiggin15 ， thanks very much！！！

how to use login_extension_by_certificate()in class client？how to get extension key？
i am trying to find a way login  vcenter without username and password。
is there anyway like token or something like that i can use to login vcenter。

[2015-07-27 07:51] wiggin15 commented on #158
@wz200210, there's a link to a pdf file in my comment above with the page discussing how to log in with a certificate. It's not simple - you need to have an appliance (ova) installed on the vcenter and parse a file inside it, and then send an HTTP post request with an extension key, a token and a generated certificate. The details are in the document.

[2015-07-27 09:30] wz200210 commented on #158
@wiggin15 OK~i will try it out。

Can  a VM with unbuntu system convert to an OVA? or it must be an VMWARE official extension service OVA?

thanks again!

[2015-07-27 10:01] wiggin15 commented on #158
AFAIK you can't convert a VM to an ova - you have to create the ova through VMWare Studio.

[2015-07-28 12:03] deviantony opened #276 "Unable to access HostSystem.summary and HostSystem.datastore on Vsphere 5.5"
Trying to access the summary and datastore attributes in a HostSystem, I'm having the following exception:

[code]

I'm tried using Python 2.7.3 and 2.7.10 with the latest pyvmomi release.

[2015-07-29 02:41] spwangbit commented on #269
Thanks.
My python version is 2.7.3
My pyVmomi version is the latest version from github: releases/ commit a261b54706c9f1b32238e44471d4fffd36833b80
Merge: c99ab20 ebf0f79
Author: Shawn Hartsock <shawn.hartsock@gmail.com>
Date:   Mon Sep 22 12:07:08 2014 -0400

and I try SmartConnect and Connect. But it can works for vSphere 5.5. Is there special paremeters for vSphere 6.0 when connect?

[2015-08-11 12:34] LoveIsGrief commented on #211
Using https://github.com/vmware/pyvmomi-community-samples/blob/f83b993a9ba0fbbc6e4091bef3cbb8524cd82c8d/samples/clone_vm.py one can use

[code]

to get the default resource_pool

[2015-08-13 09:02] damojobuck opened #277 "vSphere 6 - StartProgramInGuest - A specified parameter was not correct"
Receive the following error when calling StartProgramInGuest on vSphere 6:

A specified parameter was not correct:

Previously worked in 5.5.

[2015-08-13 11:22] alans09 opened #278 "The specified guest user must be logged in interactively to perform this operation (error)"
Hi all..
I have function that is defined like this:

    def run_program_in_guest(self, guser, gpasswd, path, arguments=None,                                                                                                                                                                         interactive=None, wait_for_task=None):
        """ Start program in guest and return exitcode
        :par

[2015-08-14 05:59] alans09 commented on #278
This can be deleted. I found after 4hours of searching that windows is running updates (even if they were turned off) and this cause machine to be at 100% of cpu. While this happened vmware guest process was suspended and this caused that I got that error message while waiting for task.
Maybe there is some other way how to wait for task to finish?

[2015-08-14 05:59] #278 closed

[2015-08-19 09:34] reubenur-rahman opened #279 "Release fixes which are passed by travis"
Isn't it possible to release the fixes for which travis is working. There are many critical fixes which we are awaiting for.

[2015-08-20 06:13] alans09 opened #280 "The specified guest user must be logged in interactively to perform this operation"
Hello... I have this function (kind of long but it is doing its job):

[code]

Problem is that if I run some process on remote machine and than I want to wait for task end I got error:
**The specified guest user must be logged in interactively to perform this operation**

This occurs mainly in _while plist[0].exitCode is None_ part of the code (within cycle).

I found that this occurs when client

[2015-08-20 12:50] goindwalia opened #281 "'Not supported on the object error' while deploying OVF"
Hello, I am trying to make a python script to deploy OVF on vSphere.
https://gist.github.com/goindwalia/48a5f9ab6a2f4eedfdba
The error I am getting is leading me no where:
[code]

The lease is getting failed after initialising. I am having strong feeling that there is something wrong while creating ImportVApp or CreateImportSpec. I have tried 2-3 different minimal OVFs so far. Kindly help me recti

[2015-08-20 16:31] hartsock commented on #279
I'll see what I can do. I will try for a beta release when I can steal some time.

[2015-08-25 19:13] Rathore2014 opened #282 "I am getting error method not found while calling LookupDvPortGroup(port_group_key)"
I am using pyVmomi api to automate some of vshpere stuff, we have recently upgragded vspher5.5 to vsphre6.0, then we started seeing error

MethodNotFound: (vmodl.fault.MethodNotFound) { dynamicType = , dynamicProperty = (vmodl.DynamicProperty) [], msg = , faultCause = , faultMessage = (vmodl.LocalizableMessage) [], receiver = 'vim.dvs.VmwareDistributedVirtualSwitch:***', method = 'LookupPortgroup'

[2015-08-26 14:56] Sispheor commented on #249
Use celery.

[2015-08-27 18:48] jcpowermac commented on #231
As a VMware customer how would I add "fuel to the fire" to get this better supported within VMware?  I am fairly concerned at the current development of this project and our use of this for our Ansible modules.

[2015-08-28 01:36] michaelrice commented on #231
@jcpowermac If you have a TAM let them know how important this is to you, otherwise just use your normal AM.

[2015-08-28 14:36] twarnock commented on #231
I am reaching out to my contacts in VMware to escalate this, but wanted to throw in my support here for getting this issue resolved.

[2015-09-02 13:38] hjdr4 opened #283 "ParseError when accessing vm.config"
vm = get_obj(self.content, [vim.VirtualMachine], "test1234")
print vm
print vm.config

=>
'vim.VirtualMachine:vm-153'
[...]
pyVmomi.SoapAdapter.ParserError: 'xml document: \x1f\x8b\x08\x00\x00\x00\x00\x00\x00\x03\xd5\x1b]s\xe3\xb8\xed\xfd~\x85&Ow\x0f\xb2>-\xcb\xaeV7\x89\x93\xedfv\xb3\xc9\xc4I\xae\xd3N\xa7CK\xb4\xadF\x12U\x91R\xe2\xfe\xfa\x82\xa2>m\xd9\x91\xf7\x92\xbb\xe9\x8c\'\x11\x01\x90\x00\x01\

[2015-09-02 14:43] hjdr4 commented on #283
I've been looking inside pyVmomi.

It looks like there is no encoding defined for the stream, so the decoder is 'identity', and XML decoding fails as it is in fact gzipped stream. It does not look like a pyvmomi bug but instead a vsphere bug. I'm not sure how to fix it.

[2015-09-11 06:48] asonar opened #284 "vim.vm.ProfileSpec while importing VM"
I am trying to import VM using pyvmomi. And I have code ready which works just fine. Now one more requirement I got is, I need to specify VM storage policy while importing VM. So I looked into resourePool.ImportVApp & CreateImportSpec but didnt found any option to specify any VM storage policy. When I looked into clone workflow , it gives an option for vim.vm.ProfileSpec and I am exactly looking f

[2015-09-14 13:02] skuzye opened #285 "How do import an exception?"
I cannot seem to find in the docs how to correctly import an exception defined in vim.fault.

No matter what I try, I get ImportError: No module named vim.fault or something related.

The exception I need to treat is vim.fault.InvalidLogin. Any pointers? Thanks

[2015-09-19 00:22] alanrenouf opened #287 "Question: What version of Python should be supported from pyvmomi?"
2 Questions.

Currently pyVmomi 5.5.0-2014.1 and later support Python 2.6, 2.7, 3.3 and 3.4

Looking at the Python 2.6.9 release page which is the last release for Python 2.6 it looks like Python has pulled the maintenance plug (https://www.python.org/download/releases/2.6.9/).
1. What version of Python is everyone using at the moment to develop with pyvmomi?
2. What is the earliest version you th

[2015-09-19 00:56] michaelrice commented on #287
I use 2.7.8 to develop. Product varies depending on which host the ops team
is deploying to for my stuff. Its always 2.7.x though.

2.6 is supported. Basically at one time the goal was to keep pyvmomi
supporting what ever versions of python that OpenStack supports.

-mike
On Sep 18, 2015 19:22, "Alan Renouf" <notifications@github.com> wrote:

[2015-09-21 04:43] rashrag opened #288 "vim.TaskInfo.State returns Success for pyvmomi clone before the action completes on vcenter"
Hi,
I am trying to clone a vm to a template. But before the clone has fully succeeded on the vcenter, the vm.TaskInfo.State changes from running to success.

[2015-09-21 17:53] yashikadeva commented on #287
Openstack has dropped Python 2.6 support.:
https://wiki.openstack.org/wiki/Python3#Python_2:_Python_2.6_support_dropped.2C_Python_2.7_only

[2015-09-26 08:52] parthgala commented on #288
Hi,
How did you determine that the operation wasn't completed on vCenter?
Thanks !

[2015-09-26 08:56] rashrag commented on #288
Hi,
I was able to observe on the vsphere client that the clone task was only
40% complete. However I was printing the info state and it was success.
Previous to starting the cloning, I was powering off the vm.
On 26 Sep 2015 14:22, "Parth Gala" <notifications@github.com> wrote:

[2015-09-26 08:57] parthgala commented on #285
The following works for me:

<class 'pyVmomi.VmomiSupport.vim.fault.InvalidLogin'>

[2015-09-27 11:47] grzn commented on #231
@michaelrice any progress wit this one?

[2015-09-27 11:49] grzn commented on #231
@parthgala do you have any update for us on this?

[2015-09-28 13:52] skuzye commented on #285
Thanks!

[2015-09-28 13:53] #285 closed

[2015-09-30 00:17] tianhao64 opened #290 "2 unit tests are failing for py33 and py34"
2 unit tests are failing:
ERROR: test_simple_request_serializer (tests.test_serializer.SerializerTests)
ERROR: test_iso8601_set_datetime (tests.test_iso8601.Iso8601Tests)

Error message are same:
TypeError: Type str doesn't support the buffer API

Cause:
The tests try to search string from bytes obj.

[2015-10-07 14:36] keeely opened #292 "makeCertHokTokenLoginMethod() not used?"
I'm unsure if what I'm seeing is to be believed, but...

The text "makeCertHokTokenLoginMethod":
- gives only two Google references.
- is only found in copies of connect.py on a search of GitHub.

If nobody in the entire universe (my universe is on the small side, including only Google and Github right now :-)) is using it, it should perhaps be removed?

If it's a WiP then how can we finish it?

T

[2015-10-11 19:34] ryanrussell commented on #281
Having the same issue. Also on VSphere 5.5

Did you ever find a solution?

[2015-10-11 22:59] stormbeard commented on #281
You're probably pointing the script at your vCenter IP instead of a individual host. Someone else had this issue over in the community samples repo:
https://github.com/vmware/pyvmomi-community-samples/issues/54

[2015-10-12 20:07] patilav commented on #292
It's a new method in pyvim 6.0 for login using SAML token. I dont know about other people but I am using it :palm_tree:

[2015-10-13 05:35] DeepikaNR opened #293 "Performance manager not returning values"
Hi,

I want to retrieve certain performance metrics from host.
1. I am using PerformanceManager to retrieve available metrics for a host.
2. Query using a spec.

Although metrics list is obtained, the stats list is empty.
[ Pasted the code from python console]
[There was a valid service instance]
................................................................................................

-- D

[2015-10-13 21:20] shyamachilles commented on #194
how do I get around this problem?

[2015-10-13 21:40] shyamachilles opened #294 "vim.fault.NotAuthenticated: (vim.fault.NotAuthenticated)"
Hi ,

My environment consists of a SAN attached to ESX host. The vsphere version is 6.0

My python test script imports pyvMomi package support to do the following -

1. Clone "x" VMs and power them on , in a sequence. "x" is passed as an argument to the test.
2. Perform IO from each cloned VM to a common datastore provided to test as an argument.
3. Take Snapshots of each clones and Stop IO.
4. Po

[2015-10-14 19:56] codekoala commented on #231
I'm eagerly awaiting this, as a major effort at work requires the new IO filter features. Any change?

[2015-10-14 20:13] patilav opened #295 "makeCredBearerTokenLoginMethod fails to authenticate"
While runing makeCredBearerTokenLoginMethod program fails
Reason : Invalid assignments of Cert and Key values in connect.py  which result in login failure.

[2015-10-19 18:49] hartsock commented on #231
cc @tianhao64

[2015-10-19 18:50] hartsock commented on #194
cc @tianhao64

[2015-10-19 19:26] shyamachilles commented on #194
Is this the same issue as I see in https://github.com/vmware/pyvmomi/issues/294

[2015-10-19 20:46] hartsock commented on #294
cc @tianhao64

[2015-10-27 00:22] moonlightelite opened #298 "Pyvmomi crashes in Pypy 2.6.1 and 2.3.1"
When Pyvmomi 5.5 is run under Pypy 2 with a large number of virtual machines (>50), Pypy core dumps.

The crash only happens in Pyvmomi 5.5, it does not happen in Pyvmomi 5.1. I've traced the crash to the section where the driver uses Requests. Here is a POC base on the sample program /pyvmomi-community-samples/samples/getallvms.py -

[code]

Sorry about the crappy POC.

The Requests library is fr

[2015-10-28 09:48] keeely commented on #292
Any chance you can post some example code? :)

[2015-11-02 05:57] psinghsp opened #299 "How do I add a vswitch with no network adapters?"
VSphere UI and ESX CLI commands let me do it. But I cannot see how I can pass null to:

vss_spec.bridge = vim.host.VirtualSwitch.BondBridge(nicDevice=[])

I always get an exception that I must provide a nicDevice.

Is there any way to do this with Pyvmomi?

[2015-11-02 15:34] michaelrice commented on #299
Can you not provide: ```nicDevice=None``` ?

[2015-11-02 16:01] rreubenur commented on #299
If you want to create a vSwitch without a physical NIC then you should not use the optional "bridge" parameter. But if you use bridge parameter then the "nicDevice" param is mandatory for BondBridge spec.

The given below spec should work.

[code]

[2015-11-02 16:12] rreubenur commented on #288
I don't know the root cause of this problem. But I replaced my wait_for_tasks() method with the one provided in the community.

In my previous code I was only checking ```vim.TaskInfo.State``` . But it was erroneous. Then I used the community code which is using ```PropertyCollector``` and Filters.  This code is reliable and working perfectly fine.

You can give a try. Only experts can tell you th

[2015-11-02 16:14] psinghsp commented on #299
Thanks let me try.

[2015-11-02 16:17] psinghsp opened #300 "VSwitches and promiscuous mode"
I can create a vswitch and a portgroup. I can set security policy for the port group and set the promiscuous mode for it. But if I set the security policy for vswitch, I get an error. Is there a way to set VSwitch promiscuous mode?

[code]

[2015-11-02 16:21] psinghsp opened #301 "Creating a NIC adapter and adding to vswitch"
When create a new NIC card for a guest, the code looks like:

[code]

My question is about last three magic numbers. It seems like I have to make sure that they are unique for a guest. Is it possible to omit them and the API to assign them unique numbers?

[2015-11-02 16:36] rashrag commented on #288
Thank you! Will check it out!
On 2 Nov 2015 21:42, "Reubenur Rahman" <notifications@github.com> wrote:

[2015-11-02 16:40] rreubenur commented on #301
Except key the remaining two are not mandatory. Please go through the doc.

[2015-11-02 16:41] rreubenur commented on #300
I don't know why it don't work for vss. But it will work if you apply the policy on a port group.

[2015-11-02 16:44] rreubenur commented on #300
Please post the questions in pyvmomi-community-samples

[2015-11-02 16:45] rreubenur commented on #301
Please post the questions in pyvmomi-community-samples

[2015-11-02 16:53] rreubenur commented on #300
Looks like You have to use "HostVirtualSwitchConfig" . But you have to create the vss first then you can update vss with the security policy using the mentioned config.

You can give a try.

[2015-11-02 17:23] psinghsp commented on #301
Thanks. But if you take a look at this command on ESX, it wants a unit number - but not key or controller key. Does that make unitNumber manadatory?

~ # vim-cmd vmsvc/devices.createnic
Insufficient arguments.
Usage: devices.createnic vmid unit number type network

Add a NIC to this virtual machine.

[2015-11-03 18:20] tobyfan1980 opened #302 "Copy File to/from VM get URL Error: nodename nor servname provided, or not known"
I am trying to copy file to/from VM. I used InitiateFileTransferFromGuest, which return a url like 'https://*:443/guestFile?id=10&token=xxxxxxxxxx'.

Then I called requests.get(url) but not got any luck, always the same error :<urlopen error [Errno 8] nodename nor servname provided, or not known>

Here is my code:

vm = get_obj(content, [vim.VirtualMachine], vm_name)
creds = vim.vm.guest.NamePassw

[2015-11-03 23:50] psinghsp opened #303 "How to delete a disk from a vm"
Hi

I looked at the sample to add a disk to a vm. I want to do opposite. Does anyone have a sample for that? I tried modifying the "add sample" by changing the operation to "remove" and setting the unitNumber in the diskSpec to delete the one I want - but I keep getting errors.

[2015-11-04 01:38] jm66 commented on #303
HI @psinghsp ,

Try adding the actual object in

[code]

[2015-11-04 05:07] rreubenur commented on #302
Replace the ```*``` in the url with your ESXi host IP. You don't have to do this if you directly connect to vCenter Server

[2015-11-04 06:12] tobyfan1980 commented on #302
Got it. Since I connected to the host not vCenter, I need to replace * with host ip.

Thanks, rreubenur.

[2015-11-04 06:12] #302 closed

[2015-11-06 01:42] flaub commented on #212
Any news on this?

[2015-11-06 01:43] flaub commented on #235
Any news on this?

[2015-11-06 16:37] rreubenur commented on #268
This works for me:
[code]

[2015-11-08 03:14] derchrisuk opened #304 "ListProcessesInGuest not accepting single pid argument"
Hi,

I'm currently trying to grab some info about a process I started in a VM.
I start the command with `StartProgramInGuest()` and get a `long` back with the pid.

When I now try to get info about that pid, I get an error:

    File "/usr/local/lib/python2.7/dist-packages/pyvmomi-5.5.0-py2.7.egg/pyVmomi/VmomiSupport.py", line 553, in <lambda>
    File "/usr/local/lib/python2.7/dist-packages/pyvmo

[2015-11-09 12:33] EB123 opened #305 "What is the proper way to resignature an unresolved volume?"
Hi,

What is the proper way to resignature an unresolved volume so that the volume will be auto-mounted across all hosts that the volume is mapped to (the same way like resignaturing using the vsphere client)?
I'm currently using host.configManager.datastoreSystem.ResignatureUnresolvedVmfsVolume(), but when, for example, I map a volume to 2 hosts and then run this method on one of them, then at th

[2015-11-09 18:18] tianhao64 opened #306 "Any objections if we drop python 2.6 support for vphere 6.0 release?"
Since openstack has dropped python 2.6 support: https://wiki.openstack.org/wiki/Python3#Python_2:_Python_2.6_support_dropped.2C_Python_2.7_only
We plan to drop 2.6 support for pyVmomi too for the 6.0 release. Please let me know if you have any objections.

Thanks,
Tianhao

[2015-11-09 19:56] shay-berman commented on #306
No

BTW pyvmomi will support vsphere 6?
On Nov 9, 2015 8:18 PM, "Tianhao He" <notifications@github.com> wrote:

[2015-11-09 20:10] michaelrice commented on #306
My only concern with it would be when I package it for Fedora and EPEL we would be having to drop support for RHEL 6. I do not use that personally but I do currently publish packages for Fedora 21-Devel and EPEL 6 & 7 https://admin.fedoraproject.org/pkgdb/package/python-pyvmomi/

[2015-11-09 21:08] tianhao64 commented on #306
@shay-berman Yes, the new version should be available in a couple of days.

[2015-11-09 21:59] tianhao64 commented on #306
@michaelrice Thanks Michael. Do you think it worth to continue support those version/packages? The reason I am asking is that we do need to include some special handler/fixes just for 2.6 in the new release. I am trying to assess if it worth the effort.

[2015-11-10 01:57] michaelrice commented on #306
@tianhao64 personally and professionally Im not a fan of having to worry about python  2.6. Lots of our samples wont work on 2.6 because of simple things like `print "foo {}".format(thing)` where we just left out the index which works on 2.7+ but not on 2.6 What ever yall decide to do I just wanted to point out what will happen if you drop 2.6 support :)

[2015-11-10 06:18] rreubenur commented on #306
Ship it

[2015-11-11 17:14] lemke1458 commented on #304
That generated doc is wrong.  'pids' is an array of long, not a single value, so you can watch multiple processes with a single call.

[2015-11-11 22:14] lemke1458 commented on #280
You're checking for process state the way we designed it to work.

The error you're getting should only occur if you use interactiveSession, which I suggest never setting unless you really need it.  Its more work for Tools, and I've seen too many cases where there isn't really a logged-in user in automation scenarios (auto-logout kicking in, for example).

I'm also not surprised that it has issues

[2015-11-12 06:12] stagor opened #307 "How can I add tags to the just created virtual machine with pyvmomi?"
Hello all,

Spent almost whole day trying to find out how can I add tags to the just created virtual machine and all in vain. We use vSphere 6.0.0 at work. I tried to assign tags via `vm.config.extraConfig`, they were set successfully but are not available in Tags section of Summary tab.

Could you share a piece of code how can I achieve this.

Thank you. Look forward to hearing from you.

[2015-11-12 06:48] michaelrice commented on #307
Hi @stagor you will need to  use this: https://developercenter.vmware.com/web/sdk/60/vcloudsuite-python

[2015-11-12 10:56] derchrisuk commented on #304
Thanks, I will give it a try.
I use a workaround at the moment, and created a check def which will grab the whole list for the given PID input.

[2015-11-13 23:23] tatankat opened #309 "PropertyFilterSpec vs FilterSpec"
In pyvmomi, the "PropertyFilterSpec" data object is named "FilterSpec", probably in [QueryTypes.py](/vmware/pyvmomi/blob/39bd020f1a052bf1773a74242c2cfca1837e95e3/pyVmomi/QueryTypes.py#L48).

Is there a reason/cause? Can this be changed/fixed to match the original API? (and how is this file auto-generated?)
If not: the documentation references "PropertyFilterSpec" and should be changed.

[2015-11-15 15:27] twarnock commented on #306
Drop it.  I will agree to anything at this point to get support for 6.0.

[2015-11-16 10:14] dongweichen opened #310 "How can i call eventManager using vim module"
When i use vim module,i can only call name,fault and ServiceInstance three methods.
How i can call eventManager method ?

[2015-11-18 14:58] divad commented on #233
Can we have an update on this? Can the _moid be exposed as objectID or similar, so we can use the moref when uniquely identifying objects in vcenter?

[2015-11-18 15:01] divad commented on #231
Is there any chance of an update on pyvmomi supporting vCenter 6?

[2015-11-18 15:04] divad opened #311 "vmomi objects __str__ method with quotation marks"
Hi,

When calling __str__ on a pyvmomi object it returns the reference with quotes in the actual string, e.g:

[code]

Why does it add these un-necessary quotes? Is there a way to get it without the quotes, or a way to just get the managed object reference directly (other than _moid which since it starts with a leading underscore I guess we should not be using?).

Thanks in advance.

[2015-11-18 16:58] hartsock commented on #231
Attn: @tianhao64 && @parthgala

[2015-11-18 16:58] hartsock commented on #233
Attn @tianhao64

[2015-11-19 14:22] derchrisuk opened #312 "Running Customize task on ESXi fails"
I'm currently trying to add Clone support for a single ESXi.
As the `Clone` task is not supported on ESXi, I'm deploying a OVF to the ESXi.
After that I would run a customization to change IP/Hostname/DNS using `Customize(spec=customspec)`
When I try to use the same `vim.vm.ConfigSpec` ,which works for normal deploy on a vCenter server, with a ESXi VM, it fails:

[code]

Is there a way around it?

[2015-11-19 14:44] derchrisuk commented on #312
This is showing in the hostd.log on the ESXi

[code]

[2015-11-19 15:13] derchrisuk commented on #281
Looking at your code, nothing happens with the lease.
Eventually it will timeout.
There is now a full sample for deploying OVF:

https://github.com/vmware/pyvmomi-community-samples/blob/master/samples/deploy_ovf.py

[2015-11-20 00:14] rallytime opened #314 "[Docs] vim.host.VsanSystem UpdateVsan function name in docs is incorrect"
There is a function listed on the [vim.host.VsanSystem](https://github.com/vmware/pyvmomi/blob/releases/docs/vim/host/VsanSystem.rst) documentation named `UpdateVsan`, but that function doesn't actually exist in the VsanSystem spec. It should be `UpdateVsan_Task`.

For example, I have a VsanSystem object (named vsan_sys) and a vsan.host.ConfigInfo object (named vsan_config) instantiated:
[code]
Ho

[2015-11-20 03:19] qinmiaoHE commented on #314
hi
  i had the similar problem that i want to use vim.event.EventFilterSpec(),while  they told me that the event didnt exist in vim ...

here is part of my code:

si== connect.SmartConnect(host=args.host,
                                                user=args.user,
                                                pwd=args.password,
                                                port=int(args.po

[2015-11-23 06:28] wy65701436 opened #316 "Get exception [AttributeError: 'NoneType' object has no attribute 'fileManager'] on example upload_file_to_vm"
Hi,

I got this error when to execute the example code to upload file into vm.

url = content.guestOperationsManager.fileManager.InitiateFileTransferToGuest(vm, creds,
AttributeError: 'NoneType' object has no attribute 'fileManager'

Can somebody help?

BTW, I can success run the find_by_uuid.

-Yan

[2015-11-24 07:03] qinmiaoHE commented on #314
Thanks, it worked.

by the way ,did your pyvmomi code could implement code completion? if so ,do you mind to share the method?

thanks

[2015-11-24 16:12] rallytime commented on #314
@qinmiaoHE I don't have any code completion in place. I am using these bindings for a project I am working on to manage ESXi hosts, and I just noticed I couldn't get the UpdateVsan function to work because the docs were wrong, so I thought I should file an issue and fix it.

[2015-11-25 01:29] qinmiaoHE commented on #314
thanks, i am using pyvmomi to get ESXi host's events and tasks.thanks for your help.

[2015-11-27 02:46] prashasthip opened #317 "content.viewManager.CreateContainerView() returns BadStatusLine : ' ' when trying to access vim.VirtualMachine Managed Object"
When I clone a VM out of a template and try accessing the managed object I encounter this error.

![image](https://cloud.githubusercontent.com/assets/11154612/11432850/06be5f1a-94dc-11e5-80b6-6dc6d3dbded3.png)

[2015-11-27 17:50] jfleuridas opened #318 "SoapAdapter / expected str instance, byte found"
Hi,
when trying to connect to a remote hosted vcenter v5.1 (OVH - European host which provides virtual VMWare farm) with pyvmomi (latest github dev version or release) with python 3.4 on windows 8.1 64, I get an exception  :
   msg = 'sequence item 0: expected str instance, bytes found',
File "d:\temp\pyvmomi-master\pyVmomi\SoapAdapter.py", line 1116, in read

The fix is quick
inflatedChunk = self

[2015-11-28 01:18] michaelrice commented on #318
Ive had best results with 2.7 If you notice there is *very little* testing for this lib so I would expect there to be a lot of unknown issues with py 3. When the py 3 support was added personally I think it should have been marked as "Possibly compatible" just due to the lack of coverage on the lib.

[2015-11-28 01:23] michaelrice commented on #314
To implement code completion would be hard because the objects are dynamically created based on what is in the ServerObjects and a couple other files. Some IDEs have a way of providing hints but that would be a manual thing you would have to look into for your IDE..

[2015-11-30 04:53] mygoda commented on #12
sorry ，i have a problem ，when i get device_url, want to download device vmdk use requests, that i can not download.

[2015-11-30 19:26] #290 closed

[2015-11-30 19:27] tianhao64 commented on #290
These tests are already fixed.

[2015-11-30 19:28] tianhao64 commented on #306
Thanks for all comments. We will drop 2.6 support for new release.

[2015-11-30 19:28] #306 closed

[2015-12-01 00:31] tianhao64 commented on #231
v6.0.0 is just released: https://github.com/vmware/pyvmomi/releases/tag/v6.0.0

[2015-12-01 00:32] codekoala commented on #231
Excellent, thanks! I'll try it when I get to work tomorrow :)
On Nov 30, 2015 5:31 PM, "Tianhao He" <notifications@github.com> wrote:

[2015-12-01 00:32] tianhao64 commented on #231
Sorry about the delay. Thank you everyone for your patience! Please let us know if you see any regression issues.

Regards,
Tianhao

[2015-12-01 00:32] #231 closed

[2015-12-01 16:14] RenoRainz opened #320 "Argument type with FileManager.MakeDirectory"
Hi,

I have a issue with this function, it seems there is a problem while parsing argument.
I have the following code :
[code]

Here the error and ouput :

[code]

Do you have any ideas ?

[2015-12-02 01:03] mytran commented on #182
Any progress or recommended fixes for this issue? I'm running into a similar issue reading events. Looks like its failing with on a FileManager.delete event. You can reproduce the problem by creating a datastore  file then deleting it.

[2015-12-03 16:42] derchrisuk opened #321 "Check Customization status on Windows VM"
I'm cloning Linux and Windows VMs from a template, using customization to add NIC, change IP, Hostname, ...
The deployment itself is working fine.
In my workflow I try to check if the new VM is ready to use.
As there is a customization running on it it can take a while.
My current method involves checking the VMs guest obj, and get the ip value.
So far this was working great with the Linux VMs, as

[2015-12-04 02:44] wy65701436 commented on #316
It's a user error. Works fine now. Close it.

[2015-12-04 02:44] #316 closed

[2015-12-04 08:58] jeremyverda commented on #212
Hi,

Any news about that?

Thanks.

[2015-12-04 09:03] pdellaert commented on #212
With pyVmomi 6.0.0, you can use a parameter in the SmartConnect to specify a SSLContext which is then used. This context can be set to not verify the certificate.

A short code example as described in https://dellaert.org/2015/12/02/pyvmomi-6-0-0-vsphere-6-0-and-ssl/
[code]

[2015-12-04 09:41] jeremyverda commented on #212
Thanks, I confirm that it's working. Good to know

[2015-12-04 18:21] mdcsaenz commented on #235
I have the same issue except I am in python 2.7.3 and I can not use _create_default_https_context since ssl package  does not have that attribute. and upgrading at this point is not an option?

[2015-12-04 21:48] aryaanand opened #322 "Deploy_ovf gives error after calling ImportVApp function."
spec_params = vim.OvfManager.CreateImportSpecParams()
        import_spec = manager.CreateImportSpec(ovfd,
                                               objs["resource pool"],
                                               objs["datastore"],
                                               spec_params)
        lease = objs["resource pool"].ImportVApp(import_spec.importSpec)

Error : TypeError: 'vim

[2015-12-05 17:49] spicyramen commented on #235
I modified Line 339 "verify" variable to to False in /usr/local/lib/python2.7/dist-packages/requests/adapters.py
self.cert_verify(conn, request.url, False, cert)

[2015-12-05 17:50] spicyramen commented on #179
I modified Line 339 "verify" variable to to False in /usr/local/lib/python2.7/dist-packages/requests/adapters.py
self.cert_verify(conn, request.url, False, cert)

[2015-12-07 17:36] mdcsaenz commented on #235
@spicyramen  that worked! Thank you, I created a patch on my end to add to my bootstrap file.

[2015-12-07 18:50] michaelrice commented on #235
that is such a bad thing to do. I hope that anyone who follows that knows what ramifications it has, or even better **just does not follow that advice**

[2015-12-07 22:49] aryaanand commented on #231
I am trying to deploy ovf on vCenter 6. I think still the vim version is not supported for vCenter 6. Any update on this ? This is the issue I faced
https://github.com/vmware/pyvmomi/issues/322

[2015-12-08 01:29] stagor commented on #307
Hi @michaelrice thanks for you response. I downloaded that library and it is a complete mess. First of all, there are too much code for such a small feature like assign a tag. Secondly, the issue with wsdl urls and where can I find them. It seems like it doesn't use pyvmomi library at all.

Are there any simpler solutions for this? Use direct REST API call?

[2015-12-08 01:30] stanislavhordiyenko opened #323 "How can I specify a portgroup while cloning a vm from the template?"
Hi,

I have reviewed all documentation and couldn't find the way how I can specify a portgroup while cloning a vm from the template? I was asked to add functionality to be able to specify a VLAN where to create a vm.

Cheers.

[2015-12-08 19:10] michaelrice commented on #307
Sorry @stagor thats the only thing I know of. As for URLs and such you might dig through that code to see if you can find anything relevant in it.. I have never looked into that lib, but I would imagine it is auto generated code..

[2015-12-08 19:21] aryaanand commented on #307
Hi @stagor sorry for asking a different question but I was looking for someone who has tried deploying ovf using pyvmomi on vsphere 6.0. I think you might have successfully executed it. I am facing this issue https://github.com/vmware/pyvmomi/issues/322 Hope u won't mind helping me out. Thanks is advance.

[2015-12-08 22:47] tianhao64 commented on #307
@stagor vCloud Suite Java SDK sdk has an example about tagging lifecycle. Check it out see if can you that: https://developercenter.vmware.com/web/sdk/60/vcloudsuite-java

[2015-12-08 23:49] tianhao64 commented on #322
@aryaanand It looks like there is an bug in python3. Could you please try it with python2?

[2015-12-08 23:50] tianhao64 commented on #322
I am seeing the same error with python3, but I able to deploy an ovf with python2.

[2015-12-09 00:56] aryaanand commented on #322
Thanks @tianhao64. Do u know why I am getting this error
(vmodl.fault.NotSupported) {
   dynamicType = <unset>,
   dynamicProperty = (vmodl.DynamicProperty) [],
   msg = 'The operation is not supported on the object.',
   faultCause = <unset>,
   faultMessage = (vmodl.LocalizableMessage) []
}

[2015-12-09 01:00] aryaanand commented on #322
Looks like some feature is not supported on server. I will check..Thanks :)

[2015-12-09 14:14] gorantornqvist commented on #235
This was the only workaround that worked for me ...

<pre>
try:
        import ssl
        context = ssl.SSLContext(ssl.PROTOCOL_SSLv23)
        context.verify_mode = ssl.CERT_NONE

        service_instance = connect.SmartConnect(host=args.host,
                                                user=args.user,
                                                pwd=args.password,

[2015-12-10 09:24] jfleuridas commented on #318
Ok thanks for the reply. I finally gave up ...

[2015-12-10 13:20] kippie538 opened #324 "Centos 7 requests.exceptions.SSLError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:590)"
I keep getting SSL error.
I'am using Minimal Centos 7 and installed python 2.7.10 and instal pyvmomi via pip and git. By both installations sam problem

requests.exceptions.SSLError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:590)

How can i fix this.

[2015-12-10 19:09] tianhao64 commented on #322
I believe this is fixed by https://github.com/vmware/pyvmomi/pull/257

[2015-12-10 19:09] #322 closed

[2015-12-11 00:34] aryaanand commented on #322
Thanks @tianhao64

[2015-12-11 00:36] aryaanand commented on #324
Add below lines for setting sslContext

context = ssl.SSLContext(ssl.PROTOCOL_TLSv1)
context.verify_mode = ssl.CERT_NONE

        self.si = SmartConnect(host=self.host,
                               user=self.user,
                               pwd=self.password,
                               port=int(self.port),
                               sslContext=context)

[2015-12-11 15:45] mstagi opened #325 "SSPI login functionality missing from pyVim connect"
Hi,

The pyVim connect.py module Connect function does not support SSPI based login, only username + password one. Our firm uses the LoginBySSPI functionality offered by the VMware API to connect to the vcenters. I have a possible solution which resolves this issue. I will upload this soon, can I kindly ask you to review my pull request related to this issue?

Thanks and regards,
 Agnes

[2015-12-12 04:25] JavaScriptDude commented on #182
I am having this same error when running thc.CreateCollectorForTasks.ReadNextTasks(maxCount=10).

I believe this is 100% reproducible on my system. Let me know if I can grab info that will help.

[2015-12-15 02:31] 10jschen opened #327 "Unable to get the vm's more than one ip on a vCenter"
When setting up more than one ip on a vm, there is no method to get all of the ip. And I can get one ip by vm.summary.guest.ipAddress. But when I want to get more than one ip on a vm, there is not working. Is there anyone can do this?

[2015-12-15 07:04] rreubenur commented on #327
You need the GuestNicInfo[] data object which has an attribute called ipAddress[].

So your code should look like this. I have not tested it !

[code]

[2015-12-15 10:23] nlamirault opened #328 "Error using Python3.4 to remove network adapter"
I've got an unit test which works fine in python 2.7 and fails in python 3.4 :

[code]

the error :

[code]

[2015-12-15 19:35] nmadhok opened #329 "pyVmomi 6.0.0 Python 2.6 compatibility/support"
pyVmomi 6.0.0 took Python 2.6 compatibility/support away and now only supports Python 2.7+. This is really annoying because RHEL and Oracle Linux still ship with Python 2.6 natively.

Can someone please tell me if there are any plans to make the recent changes backwards compatible so it doesn't affect other projects that depend on this library?

ping @tianhao64 @hartsock @michaelrice

[2015-12-15 21:54] michaelrice commented on #329
No plans, @tianhao64 asked about removing support for it. Please see #306

[2015-12-16 11:51] rajalokan opened #330 "`certificate verify failed` during SmartConnect on python 2.7.6"
Hi Guys,

I'm trying to make a connection against my vSphere instance like this
[code]
but it gives
`[Errno 1] _ssl.c:510: error:14090086:SSL routines:SSL3_GET_SERVER_CERTIFICATE:certificate verify failed`

I can get it working in python 2.7.9+ with passing a `ssl._create_unverified_context()` but that is just temporary. Can anyone please suggest what is the correct approach to get it working on p

[2015-12-16 13:42] rajalokan commented on #212
Hi @pdellaert , How to get your above patch working for python 2.7.6 ( on Ubuntu 14.04).  I'm getting
`AttributeError: 'module' object has no attribute 'SSLContext'` on calling
`context = ssl.SSLContext(ssl.PROTOCOL_TLSv1)`. Any way to backport this ssl feature into python 2.7.6.

[2015-12-16 14:28] pwrmiller commented on #212
I got this working with pyvmomi 5.5.0 - the 6.0.0 package appears to be broken with Python 2.7.6.

**To use 5.5.0:**
sudo pip install pyvmomi==5.5.0

Then, put this in your script prior to the SmartConnect call to avoid issues if your Python ever becomes upgraded:
https://gist.github.com/michaelrice/a6794a017e349fc65d01

[2015-12-16 14:29] derchrisuk commented on #312
Just saw there is an error on the initial post.
`vim.vm.ConfigSpec()' does work.
What is not working is `vim.vm.customization.Specification()`

My templates have no NIC, so I need to customize this during the deploy.
Works ok with vCenter, just not with single ESXi

[2015-12-16 16:49] pdellaert commented on #212
@rajalokan : As in my blogpost, you can do this as follows:
[code]

[2015-12-16 19:34] aryaanand commented on #330
This error occurs if you use pyvmomi 6.0. Add the below lines in your code

context = ssl.SSLContext(ssl.PROTOCOL_TLSv1)
context.verify_mode = ssl.CERT_NONE

        self.si = SmartConnect(host=self.host,
                               user=self.user,
                               pwd=self.password,
                               port=int(self.port),
                               sslContext=cont

[2015-12-16 20:27] larkinscarvalho opened #331 "Is it compatible with Python3.5?"

[2015-12-17 05:37] rajalokan commented on #212
Thanks @pwrmiller , downgrading to pyvmomi==5.5.0 works on python 2.7.6. I will wait for https://github.com/vmware/pyvmomi/pull/252 before upgrading to 6.0.  Thanks @pdellaert too for suggestion.

[2015-12-17 05:39] rajalokan commented on #330
@aryaanand This works on python 2.7.9+. Since I'm on python 2.7.6, not an option for me.

Solution for python 2.7.6 is to use pyvmomi==5.5.0 as suggested by @pwrmiller. Marking this closed.

[2015-12-17 05:39] #330 closed

[2015-12-17 21:49] johnedstone opened #332 "Inventory Traversal not traversing"
Is Inventory Traversal supported with the current version of pyvmomi?
This code below only returns the properties for the VirtualMachine
[code]

[2015-12-18 14:39] svdgraaf commented on #194
Any news? I'm experiencing the same issue. App running in Gunicorn (if that matters at all?), python 2.7.9, Debian. If you need more details or test data, please let me know.

[2015-12-21 03:23] lmcdasm commented on #235
Hey Gorantornqvist's method of creating a context and then assigning it worked for me in py and py3.

here is the hello world with yaml sample with it working.
4   import ssl
71 def main():
 72     """
 73     Simple command-line program for listing the virtual machines on a system.
 74     """
 75
 76     args = get_args()
 77
 78     try:
 79         my_vcr = vcr.VCR()
 80         # use the vcr

[2015-12-21 05:39] wy65701436 commented on #304
You can try the following, which input is an array of long.
...
res = pm.StartProgramInGuest(vm, creds, ps)
process_info = pm.ListProcessesInGuest(vm=vm, auth=creds, pids=[res])
return process_info[0].exitCode
...

-Yan

[2015-12-21 20:15] arkfps commented on #176
This is a classic [TCP half-open](https://en.wikipedia.org/wiki/TCP_half-open) problem. The `WaitForUpdatesEx` is most vulnerable to this issues because of its long running nature. The most simple and reliable fix is to enable `TCP Keepalive` on underlying socket using `setsockopt` with relevant options (POSIX) or `SIO_KEEPALIVE_VALS` (Windows API).

[2015-12-23 12:43] sreejithkesavan commented on #194
We too are experiencing the same issue. Any updates on when this will get fixed?

[2015-12-25 06:20] xiaochao opened #333 "What shoudle i do when i want to export VM?"
I Used ExportVm function to export my vm machine.But i got an error "operation timeout". What shoudle i do. My codes shows below.

[code]

[2015-12-28 16:09] osher13l commented on #235
Thanks @gorantornqvist .

The only workaround that worked for me as well

[2015-12-28 16:39] lmcdasm commented on #235
Glad to hear it (and thanks to @gorantornqvist  as well).

[2015-12-29 15:59] hartsock commented on #194
I'm sorry, I'm not even on this project anymore. I'll send this over to the current maintainer.

Attn: @tianhao64

[2015-12-29 16:35] hartsock commented on #176
Attn: @tianhao64

[2016-01-01 05:48] hewenhong opened #334 "*** NoCertificate: peer did not return certificate"
pyvmomi==5.5.0
connect.SmartConnect(host=host, user='root', pwd='Admin_123', port=443)
*** NoCertificate: peer did not return certificate

[2016-01-04 15:09] stemid commented on #241
Here's a response from user whereismyjetpack on #pyvmomi@freenode.

    def get_snapshot_size(vsphere_vm):
        """returns snapshot size, in GB for a VM"""
        disk_list = vsphere_vm.layoutEx.file
        size = 0
        for disk in disk_list:
            if disk.type == 'snapshotData':
                size += disk.size
            ss_disk = re.search('0000\d\d', disk.name)
            if

[2016-01-04 15:55] nmadhok commented on #235
The suggested workaround by @gorantornqvist will only work on systems with Python 2.7+. This will not work on systems with Python 2.6

[2016-01-04 17:21] lmcdasm commented on #235
Hello.. I tested with python3 and was fine
On Jan 4, 2016 10:55 AM, "Nitin Madhok" <notifications@github.com> wrote:

[2016-01-04 17:43] enira opened #335 "EventFilterSpec eventTypeId documentation?"
Where can I find documentation concerning eventTypeId? Because I want to find all new created and deleted VMs however there is no documentation concerning the eventTypeId in the filter.

[code]

[2016-01-04 21:12] #325 closed

[2016-01-05 03:42] mygoda commented on #334
that i have a problem， i have a connection  that do something， but sometimes struck， i can not throw vcenter exception， and that vcenter is also work， but this connection  does not work

[2016-01-05 17:14] dancaps commented on #324
I added this to the hello_world_vcenter.py script under the import statements and I get this error. NameError: name 'SmartConnect' is not defined

What am I doing wrong?

[2016-01-06 00:08] vagrant-storm commented on #235
Can any one explain why any line after this give me a syntax error in Python 3.4?

In that example the print statement is giving me an invalid syntax after I add the code from @gorantornqvist...before it works. I am still learning python...but I fail to see what is going on here. I've tried both typing and copying/pasting and I've verified the encoding is unchanged.

I can't seem to get any work a

[2016-01-06 01:18] tianhao64 commented on #35
Sms api type is uploaded. Feel free to give it a try and report any issues. Thank you!

[2016-01-06 01:18] #35 closed

[2016-01-06 01:18] tianhao64 commented on #170
Sms binding is just uploaded.

[2016-01-06 01:18] #170 closed

[2016-01-06 02:05] lmcdasm commented on #235
hey there..

you need to indent under the try:

and then figure out if your Print you want as part of the try loop or
indent back (so its not).

Cheers,
D

On Tue, Jan 5, 2016 at 7:08 PM, vagrant-storm <notifications@github.com>
wrote:

[2016-01-06 09:01] wiggin15 commented on #309
In pyVmomi.vim, there are two ways to use an object: either using the API name, or by using the "full path" defined in the pyVmomi model, e.g.

    pyVmomi.VmomiSupport.vim.ServiceInstanceContent

    True

    pyVmomi.VmomiSupport.vim.vm.device.VirtualDisk.DeltaDiskFormat

    True

What you're seeing is that the "full path" of PropertyFilterSpec ends with "FilterSpec", but if you try to use the

[2016-01-06 10:01] wiggin15 commented on #35
Hi @tianhao64, thank you very much for the inclusion of the SMS API in pyvmomi.
To use the SMS API using sms.ServiceInstance, the user must instantiate the class with a SoapStubAdapter. It is mandatory that this adapter send an additional SOAP header named vcSessionCookie for authentication.
It is currently trivial to pass this SOAP header and not possible to do that without affecting all stub ada

[2016-01-06 14:20] vagrant-storm commented on #235
Oops it didn't copy right. I do have all the indents as they should be. import ssl is indented and the print is not.

[2016-01-06 14:30] vagrant-storm commented on #235
is there any other way a person could get around this SSL: Cert failing? I've tried editing the adapters.py to be verify=false as well and there was no change.

[2016-01-06 16:48] hartsock commented on #170
Kudos @tianhao64 ! Thanks for moving on these. :-)

[2016-01-06 17:42] tianhao64 commented on #35
Hi @wiggin15 , I will forward your message and proposed changes to my team and try to get back to you probably next week.

[2016-01-07 01:15] sametimesolutions opened #337 "Is there way to clone a template to a cluster that does not have resource pool?"
The VirtualMachineRelocateSpec seems to have support for host and resource pools but not clusters unless they have a resource pool.

[2016-01-07 01:16] sametimesolutions commented on #337
https://www.vmware.com/support/developer/vc-sdk/visdk2xpubs/ReferenceGuide/vim.vm.RelocateSpec.html

[2016-01-07 07:47] wiggin15 commented on #337
All clusters have the "root resource pool", cluster.resourcePool. If you use it you'll relocate to the cluster.

[2016-01-07 10:56] nlamirault opened #338 "Invalid type using config_spec"
If i try to create a configuration_spec like that :

[code]

same error with :

[code]

i've got this error :

[code]

with this code it works fine :

[code]

[2016-01-07 15:46] sametimesolutions commented on #337
Thank you wiggin15!,  Using the cluster.resourcePool worked.

[2016-01-13 07:28] tadamdam commented on #335
Hi enira,

I've recently had to deal with a similar problem (though I'm using vSphere SDK for Perl) and I found the following list very useful: http://files.hypervisor.fr/vcEvents.html. To get VM created events, you'll probably have to look for all these: `"VmCreatedEvent", "VmClonedEvent", "VmDeployedEvent", "VmRegisteredEvent"`. Here's an example for Perl:
[code]
Hope this helps.

[2016-01-14 13:07] FrankCRoth opened #340 "__eq__ method in VmomiSupport does not work if you compare it Str"
Hi,

I use objects as key in a dictionary to see if I already used that object and good all the required informations ( eg specific attributes ). The current implementation does not work as str has no _moId method.
This is fixed in pull request #339.
Could you please merge this.

[2016-01-15 02:14] InvalidInterrupt opened #342 "__FindSupportedVersion (used by SmartConnect) does not respect custom SSLContext"
In addition to disabling certificate validation, the SSLContext allows customization of validation. This is fixed in #341, allowing, for example, connecting using a custom cafile trusting the VMWare Certification Authority root certificate.

[2016-01-20 10:54] svdgraaf commented on #194
Hey @tianhao64 any news? Would love to get in touch and help out. We're a paying Vmware customer, we could also file an issue internally with you guys if you point us in the right direction :)

[2016-01-20 12:44] hevel commented on #230
[code]
this may help

[2016-01-20 14:22] rreubenur opened #343 "Vsphere api is not honoring device order for virtual devices"
I am creating a device change spec, where a ```VirtualVmxnet3``` adapter will be the first device and after that a ```VirtualPCIPassthrough```  adapter and after that again ```VirtualVmxnet3``` adapters. But always the  ```VirtualPCIPassthrough``` adapter is getting configured as the first adapter. Any idea what wrong I'm doing here ?

[code]
![image](https://cloud.githubusercontent.com/assets/665

[2016-01-20 14:57] jm66 commented on #338
There is a trailing comma:

[code]

[2016-01-20 15:20] jm66 commented on #301
Hi @psinghsp,

Don't need the unitNumber, controllerKey and key. Those should be generated when executed.

[2016-01-20 17:25] nlamirault commented on #338
sorry for noise. Thanks

[2016-01-20 17:25] #338 closed

[2016-01-20 17:47] tianhao64 commented on #194
Hey @svdgraaf , I think this is already fixed in 6.0 release by (https://github.com/vmware/pyvmomi/commit/1574c9eafb9960a6654ec658721ee0aa0726ec3b)

I tested using both 2.7 and 3.4 and can't reproduce it:
[code]

[code]

[2016-01-20 17:49] tianhao64 commented on #194
Forgot to mark this as fixed after the release. My apologies. Please let me know if you still experiencing issues with new code.

[2016-01-20 17:49] #194 closed

[2016-01-20 18:47] tianhao64 commented on #340
Hi @FrankCRoth, thanks for the fix. Could you please add a unit test or share your tests?

[2016-01-21 02:09] mygoda opened #344 "use pyvmomi5.5.0 to interaction with vcenter cause vcenter memory rapid growth"
when i use pyvmomi to interaction with vcenter，i can see that vcenter memory rapid growth. in the end，consume all the vcenter memory。that vcenter was down。when i close pyvmomi project，that vcenter memory go down，when i check vcenter log， i can see so many session in vcenter memory 。but i use long connection with vcenter 。my code is Regularly polling use one pyvmomi SmartConnect
interaction with  v

[2016-01-21 02:29] mygoda commented on #344
my python version is 2.7.6

[2016-01-22 05:47] mygoda commented on #344
i just want to know 。why vcenter memory growth so rapid when i use pyvmomi to interaction 。and i shutdown pyvmomi ，that vcenter memory go down。i need help。

[2016-01-22 07:04] luofei163 opened #345 "pyvmomi 6.0 how to create vm with iscsi disk"
add disk error
pyVmomi.VmomiSupport.InvalidController: (vim.fault.InvalidController) {
   dynamicType = <unset>,
   dynamicProperty = (vmodl.DynamicProperty) [],
   msg = "The device '2' is referring to a nonexisting controller '1,000'.",
   faultCause = <unset>,
   faultMessage = (vmodl.LocalizableMessage) [],
   property = u'virtualDeviceSpec.operation',
   deviceIndex = 2,
   controllerKey = 10

[2016-01-24 03:03] sathvikm commented on #271
Hi shbalu07,

Here is the Code for Storage vmotion of the a VM.

'''
@auithor: sathvik.1991@gmail.com
'''

import atexit
import argparse
import sys
import time
import requests, ssl
from pyVmomi import vim, vmodl
from pyVim import connect
from pyVim.connect import Disconnect

inputs = {'vcenter_ip': 'x.x.x.x',
          'vcenter_password': 'Password',
          'vcenter_user': 'root',
          'vm

[2016-01-25 08:38] prashasthip opened #346 "Is there a way to directly obtain the VMs associated with a portgroup?"
I see two possible ways:
1. Obtain all the VMs in a datacenter and check each to see if it is configured to the required portgroup
2. Get the DistributedVirtualSwitch associated with the portgroup and get the VMs associated with it using DistributedVirtualSwitch.summary.vm. Then check from this smaller pool of VMs if it is configured to the required portgroup.

Is there any better way?

[2016-01-25 08:39] prashasthip commented on #346
@hartsock

[2016-01-25 09:23] prashasthip commented on #346
I just realized that vim.dvs.DistributedVirtualPortgroup extends vim.Network. vim.Network has an attribute "vm" that retrieves all the VMs associated with the given network.

[2016-01-25 09:23] #346 closed

[2016-01-25 09:29] prashasthip commented on #323
Once you clone a VM from a template, you can configure the vNIC attached to the VM to the required portgroup/VLAN.

http://stackoverflow.com/questions/24001697/add-vm-to-vlan-through-pyvmomi-vsphere

[2016-01-25 09:43] prashasthip commented on #321
I had a similar use case. Windows VM takes some time to complete customization.
A delay of 60s did the trick of ensuring that the Windows VM customization completes. Also, if you're setting the hostname while customizing you can check that instead of just the IP.

[2016-01-25 09:50] prashasthip commented on #277
Can you attach a snapshot of the parameters?

[2016-01-25 10:28] wiggin15 commented on #35
@tianhao64 is there an update?

[2016-01-25 15:30] rreubenur commented on #323
This is not the right place . Please go through https://github.com/vmware/pyvmomi-community-samples/tree/master/samples . There are many examples.

[2016-01-25 17:15] hartsock commented on #346
cc @tianhao64  hey, Tianhao just FYI. Folks are still getting used to you doing the outward facing part of the project. :-)

[2016-01-25 18:26] shbalu07 commented on #271
Thanks a lot Sathvik, will give it a try.

On Sat, Jan 23, 2016 at 7:03 PM, Sathvik M <notifications@github.com> wrote:

--
Thanks,
ShanBalu

[2016-01-25 19:29] shyamachilles commented on #294
@tianhao64

I still see the issue with the latest pyvmomi code -

This is how am trying to connect to the vsphere client -

            self.vmServiceInstance = connect.SmartConnect(protocol="https",
                                                          host=self.fqdn,
                                                          user=self.username,

[2016-01-25 19:51] tianhao64 commented on #294
@shyamachilles , can you try following?
import ssl
connect.SmartConnect(protocol="https",
                                                      host=self.fqdn,
                                                      user=self.username,
                                                      pwd=self.password,
                                                      sslContext=ssl._create_unverified_conte

[2016-01-25 20:25] shyamachilles commented on #294
Thanks @tianhao64 Ill keep you posted. Could you please confirm if this is the latest code with issue#194 resolved @ https://github.com/vmware/pyvmomi

[2016-01-25 20:48] tianhao64 commented on #294
@shyamachilles , yes, make sure you are using the latest version: https://github.com/vmware/pyvmomi/releases/tag/v6.0.0

[2016-01-25 20:48] #294 closed

[2016-01-26 02:16] wyaeld commented on #198
@tianhao64 after just spending a couple of hours down the rabbit hole on this, can confirm in also affects pyvmomi 5.5

Is it intended to be fixed?

[2016-01-26 06:31] r1k0 commented on #198
@wyaeld
I wish I hadn't wasted so much time on this project at work given the support. P1 for a year and half almost, that's good priority management obviously.

[2016-01-26 07:05] wyaeld commented on #198
I'll willing to give them the benefit of the doubt, I did have a conversation with @hartsock that seemed encouraging

[2016-01-26 09:40] FrankCRoth commented on #340
Hi tinahao64. Created test cases and added it to pull request #340.

[2016-01-26 09:47] shyamachilles commented on #294
@tianhao64 -  I did download the latest code @ https://github.com/vmware/pyvmomi/releases/tag/v6.0.0
I did pass in sslContext=ssl._create_unverified_context() to connect.SmartConnect
for the test trying to do above steps for 3 - 27 clones, it passes without hitting this issue.
Trying to scale above 27-60 vm clones, the test fails with this error trying to power off Vms before deleting them . Typic

[2016-01-26 23:20] shyamachilles commented on #294
in SoapAdapter.py - CONNECTION_POOL_IDLE_TIMEOUT_SEC defaults to 900 secs.

Can I try increasing the CONNECTION_POOL_IDLE_TIMEOUT_SEC to 3600? I do see inactivity for more than 15 mins (900 secs) on the vcenter once the IO is done and snapshots are deleted. During this inactivity, the test tries to stop IO on the VM clones. This activity takes more time, higher the number of clones.

[2016-01-28 23:31] shyamachilles opened #347 "vpshere connection connect.SmartConnect does not persist for longer than 15 min inactive time."
@tianhao64 , @hartsock

This issue is an offshoot of Issue #194 and  #294 -----

My environment consists of a SAN attached to ESX host.

I am currently using pyvmomi 6.0 with Python 2.7.10  -

This is how am trying to connect to the vsphere web client (As per #294,)

[code]

the Test does below -
1. Clone "x" VMs and power them on , in a sequence. "x" is passed as an argument to the test.
2. Perfo

[2016-01-30 03:16] halianka opened #348 "vim.HostSystem.ConnectionState is missing for pyvmomi 6.0?"
https://github.com/vmware/pyvmomi/blob/e26718fef6d9dbc8a4da1761b75d9da58bbc0daa/docs/vim/HostSystem/ConnectionState.rst

I don't see it
In [266]: esx
Out[266]: 'vim.HostSystem:host-12'

In [267]: dir(esx)
Out[267]:
['AcquireCimServicesTicket',
 'Array',
 'Destroy',
 'Destroy_Task',
 'Disconnect',
 'DisconnectHost_Task',
 'EnterLockdownMode',
 'EnterMaintenanceMode',
 'EnterMaintenanceMode_Task',

[2016-02-02 19:04] shyamachilles commented on #347
@tianhao64 Could you please help.

[2016-02-03 01:56] bigmyx opened #349 "Getting 'The session is not authenticated.' error"
Hello,
we have a code that automates the tests on dynamic VMs.
The code is using connection string like that to connect the cluster:
[code]
After some period of time (more than 30 min.) the connection seems to be expired and we get an exception like this:

[code]
when we are trying to retrieve an object:

[code]
Is there a way to keep the connection alive for a longer period?
Please advise.
Thanks

[2016-02-03 12:03] tcr-ableton commented on #235
I can confirm I am affected by this problem too: when using the vmware modules of [ansible](https://github.com/ansible/ansible).

The workaround posted by @gorantornqvist (https://github.com/vmware/pyvmomi/issues/235#issuecomment-163249552) solves it in my case. I'm using python2.7.11 on osx.

Is there a problem solution planned? Can I help in any ways?

[2016-02-03 23:29] tianhao64 commented on #294
@shyamachilles did it work after you increase the timeout setting? You can also disable the timeout by set it to '-1'.

[2016-02-04 10:34] Enchara commented on #22
Can I get an example for login to the remote vm console and run a command?
Thanks

[2016-02-05 09:09] mygoda commented on #347
i want to know too. but nobody help..

[2016-02-05 09:49] frapposelli commented on #347
@vmware/pyvmomi-maintainers any chance of you guys taking a look at this?

[2016-02-05 16:57] tianhao64 commented on #347
Looks like the CONNECTION_POOL_IDLE_TIMEOUT_SEC is set to 900 secs in SoapAdapter.py. However, Connect/SmartConnect doesn't take the timeout parameter so the default is always used. One quick workaround can be changing the default timeout to a larger number or even disabled it by setting to -1: https://github.com/vmware/pyvmomi/blob/master/pyVmomi/SoapAdapter.py#L56

[2016-02-09 13:48] 3pr0mpt opened #350 "Error on creating a VM: Caught vmodl fault : Invalid datastore path '[DS2856_SHARED_SILVER_VNX_208] vm-name'."
Hello all,

We're currently facing a strange issue with pyvmomi over three different datacenter. VM creation is based on the [create_random_marvel_vms.py](https://github.com/vmware/pyvmomi-community-samples/blob/master/samples/create_random_marvel_vms.py) script.

This is the code we've been using:
[code]
On datacenter 1 and 2, everything is smooth and running fine. On the third datacenter (with e

[2016-02-10 13:07] svdgraaf commented on #194
Interestingly, I'm still having the timeout in 2.7.9. I'm checking if it is fixed by playing with the timeout from #347

[2016-02-10 13:59] svdgraaf commented on #194
I can confirm that raising the timeout fixes the issue

[2016-02-10 14:02] svdgraaf commented on #347
I can confirm that raising the timeout fixes the issue. Would it be possible to implement something so that  the timeout is configurable from a public method somewhere? If I can find the time, I will try to make a PR.

[2016-02-10 14:02] svdgraaf commented on #347
This one can be closed ;)

[2016-02-10 19:17] hartsock commented on #347
@svdgraaf thanks!

[2016-02-11 06:30] chaitanyaanpate commented on #235
I am simply trying to connect to vCenter but unable to connect
Using python 3.4 and pyvmomi 6.0.0
Above work arounds not helping to connect

C:\Python34\lib\site-packages\requests-2.8.1-py3.4.egg\requests\packages\urllib3\connectionpool.py:789: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.org/e

[2016-02-11 08:27] lmcdasm commented on #235
Can you copy/paste your script you are running of a screen shot / link of
the commands you are trying to do with some more info so we can see?

cheers,
z

On Thu, Feb 11, 2016 at 1:30 AM, chaitanyaanpate <notifications@github.com>
wrote:

[2016-02-11 11:39] chaitanyaanpate commented on #235
CODE:(As it is)

import pyVmomi;
from pyVim import connect;
from pyVmomi import *;

print('welcome')

url='Myurl'
username='chaitanya'
password='Muypassword'

si = connect.SmartConnect(host=url,user=username,pwd=password,port=443)

[2016-02-11 16:24] lmcdasm commented on #235
there is a bug, so here is a script that will work for you

#!/usr/bin/python

import ssl
import pyVmomi
from pyVim import connect
import vcr
# from pyVmomi import *; < == you dont need this

def main():
"""
Simple command-line program for listing the virtual machines on a system.
"""
args = get_args()
try:
my_vcr = vcr.VCR()
# use the vcr instance to setup an instance of service_instance
with my_

[2016-02-15 08:33] stemid commented on #307
That vCloud Suite SDK left me a bit perplexed too. So am I to understand that pyvmomi will not be supporting tags through the Web API? That the only way to have tag support is to use this new vSuite SDK?

[2016-02-15 10:56] stagor commented on #307
Hi all, really I cannot understand why such things that supposed to be implemented so simple in reality are so complicated?? Unfortunately, this makes me frustrated and I would really avoid such products in future.

[2016-02-15 12:26] bjtulq opened #351 "Sample getallvm.py is imperfect, if there is vApp in datacenter, then getallvm.py would fail."
I think we can get virtualmachine according to "_wsdlName" or vm's object type.

[2016-02-16 07:10] chaitanyaanpate commented on #235
I am new to python and I am getting error as unexpected end of file error
also if indented its error undefined package yaml;undefined variable
get_args and unexpected EOF while parsing

On Thu, Feb 11, 2016 at 9:54 PM, lmcdasm <notifications@github.com> wrote:

[2016-02-16 13:04] lmcdasm commented on #235
hello.

You need to indent and follow proper python syntax.  Perhaps start with the
Python Tutorial so you can see how the code should be laid out and the move
this code into your script.

On Tue, Feb 16, 2016 at 2:10 AM, chaitanyaanpate <notifications@github.com>
wrote:

[2016-02-17 14:36] chinmayb commented on #350
its not a problem with pyvmomi ! the example you took, takes 0th datacenter. If you have mulitple datacenters  you need to change the code.

[https://github.com/vmware/pyvmomi-community-samples/blob/master/samples/create_random_marvel_vms.py#L169](url)

you can modify that example to take datacenter name as a parameter, everything will work :)

[2016-02-17 14:44] chinmayb commented on #349
Why not just handle the exception, and create a new session?
you can use _vim.SessionIsActive_

[2016-02-17 18:09] sathrian opened #352 "Is there any sample code for cloning vApp"

[2016-02-17 21:01] borisovano opened #353 "PortConnection doesn't accept switchUuid with 'None' value"
PortConnection doesn't accept switchUuid with 'None' value. However configuring this via VMware web client it works perfectly.

**Full details:**
I'm using the code below in order to add a NIC configured with DistributedVirtualSwitch to an existing VM (via pyvmomi):

`

[code]

I'm getting the following exception:

`switchUuid=network_objref.config.distributedVirtualSwitch.uuid AttributeError: 'No

[2016-02-18 17:12] sathrian opened #354 "How to add multiple networks in vim.vApp.CloneSpec.NetworkMappingPair as source and destination"
Please suggest me, whether we can add multiple source network in vim.vApp.CloneSpec.NetworkMappingPair.

[2016-02-19 11:50] 3pr0mpt commented on #350
Hello @chinmayb,
Thanks for replying. In fact, everything is already under variables. Maybe I wasn't clear enough when I raised this incident.  But we already had a full automated system using multiple datacenters over multiple datastores. Datacenter and datastore are already provided as input and managed by Python code.

However, after reading your reply I started to investigate my code (as the d

[2016-02-19 11:50] #350 closed

[2016-02-20 05:57] poose opened #355 "Clone a vm from one datacerter to another datacenter or one cluster to another cluster."
Clone should be done within vcenter between one cluster/datacenter to another cluster/datacenter.

[2016-02-23 00:19] abelamtech commented on #283
I had to deal with this issue and I solved the problem by setting acceptCompressedResponses to False in the creation of the SoapStubAdapter. This way the server always returns xml responses with no encoding. I don't know if this approach can cause any other problems though.

In order to implement it, I added the parameter to the Connect and SmartConnect functions and pass it through all the calls

[2016-02-23 09:32] hevel opened #356 "how to listing/validation guest os"
how can i get the os list from current vcenter?
there is a issue #153  talk about [vim.vm.GuestOsDescriptor.GuestOsIdentifier](https://github.com/vmware/pyvmomi/blob/master/docs/vim/vm/GuestOsDescriptor/GuestOsIdentifier.rst)
but some values from vim.vm.GuestOsDescriptor.GuestOsIdentifier did not work for some vcenter,it return "A specified parameter was not correct." for the task.

[2016-02-23 10:56] sathrian opened #357 "how do we add DRS for this parameter - vim.vApp.CloneSpec.location"
I have DRS. While cloning vApp, there is no option to add drs or enable DRS for this vApp.

[2016-02-23 18:26] #314 closed

[2016-02-25 05:29] userlocalhost2000 opened #359 "The 'bootTime' parameter of `vim.vm.RuntimeInfo` at the migrated VMs is unset."
About the 'bootTime' parameter of `vim.vm.RuntimeInfo` which is got from `vim.VirtualMachine`,
some VMs doesn't have that. And each of them are migrated after the boot.

This problem is occurred on the following environment.
* ESXi: 5.5.0, build: 2068190
* vCenter: 5.5.0, build: 3252642
* pyvmomi: latest of master branch (commit: 4c9debad21bb284c61a64e7c7cb7388b9d0ce4e2)

[2016-02-29 21:32] DaveColemanInfinio opened #361 "IoFilterManager support"
Is there support yet for IoFilterManager?
I see references to it in pyVmomi, but the service content shows that the ioFilterManager reference is unset:

(vim.ServiceInstanceContent) {
   dynamicType = <unset>,
   dynamicProperty = (vmodl.DynamicProperty) [],
   rootFolder = 'vim.Folder:group-d1',
   propertyCollector = 'vmodl.query.PropertyCollector:propertyCollector',
   viewManager = 'vim.view.V

[2016-03-01 16:24] nlamirault commented on #328
Hi
any news on this Bug ?

[2016-03-01 16:59] tianhao64 commented on #328
@nlamirault , it's not obvious what went wrong based on the error log. Were you passing any non-ascii chars in the request?

I will push a couple of python3 related fixes next week. Please give another try after that.

[2016-03-01 18:36] nlamirault commented on #328
OK. Non any ascii chars in the request. But perhaps, vcenter use a french configuration. I will try after yours fixes. Thanks

[2016-03-02 17:16] ralgozino commented on #183
Hello there,

 I'm trying to determine what identifiers to sue when trying to link a VM y my system to one on an ESXi server. First I used the UUID, an then both the uuid and the InstanceUUID, but I found that the UUID can be duplicated in two different VMs. Then I added the vm-mor to the check.

 What is the recommended value used to identify the VM? What are you using?

Thanks in advance.

[2016-03-02 18:30] hartsock commented on #183
It depends on what you want to identify. InstanceUUID means the VM. Then there's the BIOS UUID which identifies the Guest OS at the BIOS level. Hypothetically a guest OS Bios can be lifted out of a VM instance then moved to another VM instance which has a new UUID. This kind of identity swapping can happen during some VM copy, clone, or movement operations.

In other situations, a name value or a